/* Current Font Config as of 30th of August 2018 */

@import url('https://fonts.googleapis.com/css?family=Google+Sans:400,500,700,400i,500i,700i');
@import url("https://customa.gitlab.io/Customa-Discord/Base/selection.m.css");
@import url("https://customa.gitlab.io/Customa-Discord/Base/font.m.css");

:root{
    --INTModFont: '    \2022  Fonts (Emma Config) ~ Customa Devs (Misc \2192  font_emma.m.css)\A'!important;
    --FontFamily: 'Noto Bug Fix', 'Noto Blobs', 'Google Sans', sans-serif /* Normal Font */;
    --FontMonoFamily: 'Noto Bug Fix Monospace', 'Noto Blobs', 'Fira Code', 'Fira Mono', monospace /* Monospace Font */;
}

@font-face{
    font-family: 'Noto Blobs';
    src: url('https://customa.gitlab.io/Customa-Misc/Discord/Noto%20Color%20Emoji.ttf') format('ttf');
    unicode-range: U+A9-1F9E6;
}

@font-face{
    font-family: 'Noto Bug Fix';
    src: url('https://fonts.gstatic.com/s/googlesans/v6/4UaErENHsxJlGDuGo1OIlL3L8phULjtH.woff2') format('woff2');
    unicode-range: U+30-39, U+A9, U+AE, U+2122;
}

@font-face{
    font-family: 'Noto Bug Fix Monospace';
    src: local('Fira Code');
    unicode-range: U+30-39, U+A9, U+AE, U+2122;
}