:root {
    --INTModBetterCompactMode: '    \2022  Better Compact Mode ~ Customa Devs (Chat \2192  betterCompactMode.m.css)\A'!important;
}

.isMentionedCozy-3isp7y:after {
    content: none;
}

.isMentionedCozy-3isp7y {
    border-radius: 3px;
}

.container-3-pyIM {
    padding: 0;
}

.theme-dark .dividerEnabled-2TTlcf {
    border-bottom-color: hsla(0,0%,100%,.02);
}

.containerCozy-jafyvG .divider-32i8lo {
    margin: 1em 20px -1em;
}

.containerCozy-jafyvG {
    padding: 0.55em 0 1em;
}

.headerCozyMeta-rdohGq {
    display: flex;
    align-items: center;
    font-size: 1em;
}

.headerCozyMeta-rdohGq span:not(.botTagRegular-2HEhHi) {
    font-size: 1em;
}

.headerCozy-2N9HOL {
    margin-left: 0.5em;
    height: 2em;
    margin-bottom: 0.2em;
    align-items: center;
}

.avatar-17mtNa, .avatar-17mtNa > div {
    margin: 0;
    margin-right: 0.5em;
    width: 1.4em;
    height: 1.4em;
}

.contentCozy-3XX413 {
    margin-left: 0.5em;
}
