:root{
    --INTModChannelDivider: '    \2022  Channel Divider ~ Customa Devs (Sidebar \2192  channelDivider.m.css)\A'!important;
}

.channels-Ie2l6A .scroller-2FKFPG [class*=container] .containerDefault-3GGEv_ .wrapper-CU3qI5 *{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #fff!important;
  opacity: 0.3;
  transition: .2s opacity ease-in-out!important;
}

.channels-Ie2l6A .scroller-2FKFPG [class*=container] .containerDefault-3GGEv_ .wrapper-CU3qI5:hover *{
  opacity: 0.8;
}

.channels-Ie2l6A .scroller-2FKFPG [class*=container] .containerDefault-3GGEv_ .wrapper-CU3qI5 [class*=name]::before, .channels-Ie2l6A .scroller-2FKFPG [class*=container] .containerDefault-3GGEv_ .wrapper-CU3qI5 [class*=name]::after{
  content: "";
  width: 100%;
  vertical-align: middle;
  height: 1px;
  background: #eee;
  display: inline-block;
  margin: 0 5px;
}

.channels-Ie2l6A .scroller-2FKFPG [class*=container-] .containerDefault-3GGEv_:first-child{
    padding: 2%;
    padding-top: 8%;
}
