:root{
    --INTModCustomUserModal: '    \2022  Custom User Modal ~ Customa Devs (Sidebar \2192  customUserModal.m.css)\A'!important;
}

[class*='topSection'] .avatar-3EQepX .statusProfile-3ynqtt {
    border: none!important;
    box-shadow: none!important;
    border-radius: 0;
    width: 600px;
    height: 340px;
    visibility: visible!important;
    -webkit-filter: brightness(90%)!important;
    right: -490px;
    bottom: -230px;
    z-index: -1;
}

.root-SR8cQa .headerFill-adLl4x .activityProfile-2bJRaP a.anchor-3Z-8Bb.activityName-1IaRLn{
    color: white!important;
}

[class*='topSection'] .avatar-3EQepX a:hover .image-33JSyf::before {
    background-color: rgba(0, 0, 0, .5);
    content: 'view profile\A picture';
    text-transform: uppercase;
    white-space: pre;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    border-radius: 100%;
    width: 91px;
    padding: 40.5% 0;
    text-align: center;
    display: block;
}

[class*='topSection']{
    z-index: -2!important;
}

.modal-1UGdnR .inner-1JeGVc .root-SR8cQa, .modal-1UGdnR .inner-1JeGVc{
    z-index: -3;
}

.modal-1UGdnR .inner-1JeGVc .root-SR8cQa .tabBarContainer-1s1u-z{
    background-color: var(--ColBackground1)!important;
    border: none;
}

.modal-1UGdnR .inner-1JeGVc .root-SR8cQa header .actionButton-3W1xZa.button-38aScr.lookInverted-2D7oAl.colorBrand-3pXr91.sizeSmall-2cSMqn.grow-q77ONN{
    background-color: rgba(0,0,0,0.2)!important;
}