:root {
  --INTModGuildCircles: '    \2022  Guild Circles ~ Customa Devs (Sidebar \2192  guildCircles.m.css)\A' !important;
  --INTVarGuildCircles: '\A\A Guild Circles - Module\A \2022  --ColGuildUnread \2192  Allowed Values: Color \A \2022  --ColGuildSelected \2192  Allowed Values: Color \A \2022  --ColGuildRTC \2192  Allowed Values: Color \A \2022  --SizeGuildThin \2192  Allowed Values: Size (pref. 3px) \A \2022  --SizeGuildThick \2192  Allowed Values: Size (pref. 5px)' !important;
  --ColGuildUnread: #fff5;
  --ColGuildSelected: #fffc;
  --ColGuildRTC: #43b581;
  --ColGuildMentioned: var(--ColAccent);
  --SizeGuildThin: 3px;
  --SizeGuildThick: 5px;
}

/*
  IMPORTANT:
  Discord refactored some stuff,
  so this badboy REQUIRES Powercord.
*/

.pc-listItem .pc-svg {
  border-radius: 50%;
  border: var(--SizeGuildThin) solid transparent;
  transition: all 0.3s ease;
}

.pc-listItem .pc-svg mask,
.pc-listItem .pc-upperBadge,
.pc-listItem .pc-pill {
  display: none;
}

.pc-unread .pc-svg,
.pc-selected .pc-svg,
.pc-guild-audio .pc-svg,
.pc-guild-video .pc-svg,
.pc-mentioned .pc-svg,
.pc-listItem:only-child .pc-svg {
  padding: 2px;
}

.pc-listItem:only-child .pc-svg {
  border-color: var(--ColGuildMentioned);
  animation: mentionedGuildGlow 1.5s ease-in-out infinite alternate;
}

.pc-unread .pc-svg {
  border-left-color: var(--ColGuildUnread) !important;
}

.pc-selected .pc-svg {
  border-color: var(--ColGuildSelected);
  border-width: var(--SizeGuildThick);
}

.pc-guild-audio .pc-svg,
.pc-guild-video .pc-svg {
  border-color: var(--ColGuildRTC);
  box-shadow: 0 0 8px var(--ColGuildRTC);
}

.pc-guild-video .pc-svg {
  animation: videoGuildGlow 1.5s ease-in-out infinite alternate;
}

.pc-mentioned .pc-svg {
  border-right-color: var(--ColGuildMentioned);
  animation: mentionedGuildGlow 1.5s ease-in-out infinite alternate;
}

.pc-guild-audio.pc-mentioned .pc-svg,
.pc-guild-video.pc-mentioned .pc-svg {
  animation: bothGuildGlow 1.5s ease-in-out infinite alternate;
}

@keyframes videoGuildGlow {
  from {
    box-shadow: 0 0 6px var(--ColGuildRTC);
  }

  to {
    box-shadow: 0 0 10px var(--ColGuildRTC);
  }
}

@keyframes mentionedGuildGlow {
  from {
    box-shadow: 0 0 6px var(--ColGuildMentioned);
  }
  to {
    box-shadow: 0 0 10px var(--ColGuildMentioned);
  }
}

@keyframes bothGuildGlow {
  from {
    box-shadow: 0 0 8px var(--ColGuildRTC);
  }
  to {
    box-shadow: 0 0 10px var(--ColGuildMentioned);
  }
}
