:root{
    --INTModStatusCircles: '    \2022  Status Circles ~ Customa Devs (Sidebar \2192  statusCircles.m.css)\A'!important;
}

.member-3W1lQa .wrapper-2F3Zv8 .status-oxiHuE, .avatarOffline-3GF27z::after, .channel-2QD9_O .wrapper-2F3Zv8 .status-oxiHuE, .container-2Thooq .wrapper-2F3Zv8 .status-oxiHuE, .selector-2IcQBU .wrapper-2F3Zv8 .status-oxiHuE, .friend-2PO6ke .wrapper-2F3Zv8 .status-oxiHuE{
    width: calc(100% + 4px) !important;
    height: calc(100% + 4px) !important;
    background: transparent !important;
    border-radius: 50% !important;
    top: -4px !important;
    left: -4px !important;
    border: 2px solid transparent !important;
    box-shadow: none!important;
    z-index: 0;
    content: ' ';
}

/* Fix for Online State Popout */
.container-2Thooq .wrapper-2F3Zv8 .inner-1W0Bkn{
    z-index: 15!important;
}

.avatarOffline-3GF27z::after{
    width: 34px!important;
    height: 34px!important;
    display: block;
    position: absolute;
}

.wrapper-2F3Zv8 .avatar-3JE4B3{
    z-index: 1;
}

.wrapper-2F3Zv8 .status-oxiHuE.online-2S838R{
    border-left-color: #43b581 !important;
}

.wrapper-2F3Zv8 .status-oxiHuE.idle-3DEnRT{
    border-left-color: #faa61a !important;
}

.wrapper-2F3Zv8 .status-oxiHuE.dnd-1_xrcq{
    border-left-color: #F44336 !important;
}

.wrapper-2F3Zv8 .status-oxiHuE.streaming-2_dnHe, .headerStreaming-2FjmGz .wrapper-2F3Zv8 .status-oxiHuE {
    border-left-color: #643da7 !important;
}

.wrapper-2F3Zv8 .status-oxiHuE.offline-3qoTek, .avatarOffline-3GF27z::after{
    border-left-color: #747f8d !important;
}

.wrapper-2F3Zv8 .typing-1KJk_j .spinner-2enMB9{
    animation-name: typing-animation!important;
    animation-duration: 1s!important;
    animation-iteration-count: infinite!important; 
    animation-direction: alternate!important;
    margin-top: 1px !important;
    width: 32px !important;
    height: 32px !important;
    border-radius: 50% !important;
}

.wrapper-2F3Zv8 .typing-1KJk_j .inner-1gJC7_{
    margin-left: 4px!important;
}

@-webkit-keyframes typing-animation {
    from{
        background-color: rgba(0,0,0,0);
    }to{
        background-color: rgba(0,0,0,0.7);
    }
}
@keyframes typing-animation {
    from{
        background-color: rgba(0,0,0,0);
    }to{
        background-color: rgba(0,0,0,0.7);
    }
}