:root {
	--INTModTwoRowGuilds: "    \2022  Two Row Guilds ~ Customa Devs (Sidebar \2192  twoRowGuilds.m.css)\A" !important;
	--INTVarTwoRowGuilds: "\A\A Two Row Guilds - Module \A \2022  --WidthGuildsList \2192  Allowed Values: XYpx (pref. 150px)" !important;
	--WidthGuildsList: 150px!important;
}

.wrapper-1Rf91z {
	width: var(--WidthGuildsList);
}

.wrapper-1Rf91z .scroller-2FKFPG {
	overflow: hidden;
}

.wrapper-1Rf91z .scroller-2FKFPG:hover {
	overflow-y: scroll;
}

.wrapper-1Rf91z .container-1ETFDs, .wrapper-1Rf91z .container-1ETFDs *, .guildSeparator-3s64Iy {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}

.friendsOnline-2JkivW {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	text-align: center;
}

.wrapper-1Rf91z .scroller-1FKFPG, .wrapper-1Rf91z .scroller-2FKFPG {
	padding-left: 0;
}

.wrapper-1Rf91z .container-2td-dC, .wrapper-1Rf91z .createJoinContainer-2Av064, .wrapper-1Rf91z .container-11WMXy {
	margin-left: 16px;
}

.wrapper-1Rf91z .scrollerWrap-2lJEkd {
	width: 100%;
	display: flex;
}

.wrapper-1Rf91z .scrollerWrap-2lJEkd .scroller-1FKFPG {
	flex: 1;
}

.wrapper-1Rf91z .container-2td-dC, .wrapper-1Rf91z .createJoinContainer-2Av064, .wrapper-1Rf91z .container-11WMXy {
	display: inline-block;
}
