:root{
    --INTModWrapperMember: '    \2022  Member Wrapper ~ Customa Devs (Sidebar \2192  wrapperMember.m.css)\A'!important;
    --INTVarWrapperMember: '\A\A Member Wrapper - Module\A \2022  --WidthSidebarMin \2192  Allowed Values: XYpx (pref. 65px)\A \2022  --WidthSidebarMax \2192  Allowed Values: XYpx (pref. 240px)\A \2022  --DurationWrapperMember \2192  Allowed Values: Time [in s or ms] (pref. 200ms)'!important;
    --WidthSidebarMin: 65px;
    --WidthSidebarMax: 240px;
    --DurationWrapperMember: 200ms;
}

.membersWrap-2h-GB4{
    width: var(--WidthSidebarMin) !important;
    min-width: var(--WidthSidebarMin);
    transition: width var(--DurationWrapperMember);
}

.membersWrap-2h-GB4:hover {
    width: var(--WidthSidebarMax)!important;
}

/* hide elements */
.membersGroup-v9BXpm, .username-1cB_5E, .activityText-sLG0UL {
    color: transparent !important;
    transition: color var(--DurationWrapperMember);
}

/* show elements */
.membersWrap-2h-GB4:hover .username-1cB_5E { color: inherit !important; }

.membersWrap-2h-GB4:hover .activityText-sLG0UL { color: rgba(185,187,190,.6) !important; }

/* member group fixes */
.membersGroup-v9BXpm {
    height: 20px;
    padding-top: 0;
    overflow: hidden;
    transition: height var(--DurationWrapperMember), padding-top var(--DurationWrapperMember);
}

.membersWrap-2h-GB4:hover .membersGroup-v9BXpm {
    height: 40px;
    padding-top: 20px;
    color: hsla(0,0%,100%,.4) !important;
}