:root{
    --INTModWrapperChannel: '    \2022  Channel Wrapper ~ Customa Devs (Sidebar \2192  wrapperChannel.m.css)\A'!important;
    --INTVarWrapperChannel: "\A\A Channel Wrapper - Module \A \2022  --WidthChannelMin \2192  Allowed Values: XYpx (pref. 46px) \A \2022  --WidthChannelMax \2192  Allowed Values: XYpx (pref. 240px)\A \2022  --DurationWrapperChannel \2192  Allowed Values: Time [in s or ms] (pref. 200ms)"!important;
  --WidthChannelMax: 240px;
  --WidthChannelMin: 46px;
  --DurationWrapperChannel: 200ms;
}

.channels-Ie2l6A .privateChannels-1nO12o .btn-friends svg /* Activity Icons */{
    margin-right: 11px;
    margin-left: 2%;
    width: 36px;
}

.channels-Ie2l6A .container-2Thooq /* User Container */{
    padding-left: 8px;
}

#friends, .activityFeed-28jde9, .gameLibrary-TTDw4Y /* Higher Index to Overlay the icons in the User Container */{
    z-index: 10;
}

.privateChannels-1nO12o .status-oxiHuE.typing-1KJk_j /* Typing indicator */{
    left: 0;
}

/* Channel Wrapper not expanded */
.channels-Ie2l6A /* Channels Wrapper */{
    width: var(--WidthChannelMin);
    transition: var(--DurationWrapperChannel) width;
}

.channels-Ie2l6A .content-3at_AU .name-3_Dsmg /* Channel Name */, .channels-Ie2l6A .content-3at_AU .children-Bmpf2Q /* Channel Icons */, .channels-Ie2l6A .containerDefault-3GGEv_ /* Category Divider */, .channels-Ie2l6A .header-2o-2hj .name-3YKhmS /* Server Name */, .channels-Ie2l6A .privateChannels-1nO12o .searchBarComponent-32dTOx  /* Search Bar Inner in Private Channel */, .channels-Ie2l6A .privateChannels-1nO12o header /* Direct Messages "String" */, .channels-Ie2l6A .container-1UB9sr .flex-1xMQg5 /* Remove Icons in Active Call Window */, .channels-Ie2l6A .avatarContainer-72bSfM /*  Voice Call avatar container */, .channels-Ie2l6A .header-2o-2hj svg /* Open Server Popout SVG */, .channels-Ie2l6A .accountDetails-3k9g4n + div /* Mute/Deafen/Settings Button Div non hover */{
    opacity: 0;
    transition: opacity var(--DurationWrapperChannel);
}

.unread-3zKkbm /* Unread Indicator */{
    display: none;
}

.container-1UB9sr .inner-btChU7, .container-1UB9sr .inner-btChU7 div{
    margin-left: -1px;
    min-width: 28px!important;
    width: max-content;
}

.rtc-connection-status{
    width: max-content;
}

.channels-Ie2l6A .content-3at_AU /* Normal Channel */{
    width: 40px!important;
    margin-left: 0;
    padding: 0 12px;
    border-radius: 0;
    transition: all var(--DurationWrapperChannel);
}

.channels-Ie2l6A .channel-2QD9_O a /* Private Channel */{
    width: 100px!important;
    margin-left: 0;
    padding: 0 6px;
    border-radius: 0;
    transition: all var(--DurationWrapperChannel);
}

/* Channel Wrapper expanded */
.channels-Ie2l6A:hover /* Hover Effect for Channels Wrapper */{
    width: var(--WidthChannelMax);
}

.channels-Ie2l6A:hover .content-3at_AU .name-3_Dsmg /* Channel Name */, .channels-Ie2l6A:hover .content-3at_AU .children-Bmpf2Q /* Channel Icons */, .channels-Ie2l6A:hover .containerDefault-3GGEv_ /* Category Divider */, .channels-Ie2l6A:hover .header-2o-2hj .name-3YKhmS /* Server Name */, .channels-Ie2l6A:hover .privateChannels-1nO12o .searchBarComponent-32dTOx  /* Search Bar Inner in Private Channel */, .channels-Ie2l6A:hover .privateChannels-1nO12o header /* Direct Messages "String" */, .channels-Ie2l6A:hover .container-1UB9sr .flex-1xMQg5 /* Remove Icons in Active Call Window */, .channels-Ie2l6A:hover .avatarContainer-72bSfM /*  Voice Call avatar container */, .channels-Ie2l6A:hover .header-2o-2hj svg /* Hover Effect for Server Popout Open SVG */, .channels-Ie2l6A:hover .accountDetails-3k9g4n + div /* Mute/Deafen/Settings Button Div on hover */{
    opacity: 1!important;
}

.channels-Ie2l6A .unread-3zKkbm+.content-3at_AU, .channels-Ie2l6A .unread-3zKkbm+.content-3at_AU:hover /* Channel with unread notifications */{
    background-color: var(--ColAccent)!important;
}

.channels-Ie2l6A .containerDefault-1ZnADq.selected-37j_iU .content-3at_AU /* Selected Normal Channel */, .channels-Ie2l6A .privateChannels-1nO12o .channel-2QD9_O.selected-1HYmZZ a /* Selected Private Channel */{
    background-color: var(--ColBackground1)!important;
}

.channels-Ie2l6A:hover .content-3at_AU /* Normal Channel */{
    width: 225px!important;
    margin-left: 8px;
    padding: 0 8px;
    border-radius: 3px;
}

.channels-Ie2l6A:hover .channel-2QD9_O a /* Private Channel */{
    width: 225px!important;
    margin-left: 8px;
    padding: 0 8px;
    border-radius: 3px;
}

/* Powercord Additions */
.channels-Ie2l6A .powercord-spotify-songInfo{
    opacity: 0;
    transition: var(--DurationWrapperChannel) opacity;
}

.channels-Ie2l6A:hover .powercord-spotify-songInfo{
    opacity: 1;
}