:root {
  --FilterNoHover: grayscale(100%);
  --FilterHover: grayscale(0%);
  --DurationWrapperGuild: 200ms;
}

.wrapper-1Rf91z /* GuildsWrapper */ {
  width: 16px;
  transition: width 200ms 200ms;
}

.wrapper-1Rf91z:hover{
  width: 76px;
}

.pc-listItem svg /* Set Filter when server is not hovered */{
  filter: var(--FilterNoHover);
  transition: filter 200ms;
}

.pc-listItem.pc-selected svg, .pc-listItem:hover svg /* Set Filter when server is hovered */{
  filter: var(--FilterHover); 
}

.wrapper-1Rf91z .scroller-2FKFPG /* Move Scroller to left to move guilds out of view */{
  padding-left: 5px;
}

.wrapper-1Rf91z .listItem-2P_4kh img, .wrapper-1Rf91z .listItem-2P_4kh .acronym-2mOFsV, .wrapper-1Rf91z .listItem-2P_4kh .button-OhfaWu, .wrapper-1Rf91z .listItem-2P_4kh .circleIconButton-jET_ig /* Disable Animation on Hover/Select */{
  border-radius: 25px!important;
}

.wrapper-1Rf91z .listItem-2P_4kh mask /* Disable Animation on Hover/Select */{
  display: none;
}

.wrapper-1Rf91z .listItem-2P_4kh .iconBadge-2NuvG9 /* Audio/Video connection */{
  transition: transform 400ms;
  transform: rotate(-90deg);
}

.wrapper-1Rf91z:hover .listItem-2P_4kh .iconBadge-2NuvG9 /* Audio/Video connection */{
  transform: rotate(0);
}

.wrapper-1Rf91z > div > div > .listItem-2P_4kh:first-child .blob-1PX1Gp svg foreignObject a, .wrapper-1Rf91z > div > div > .listItem-2P_4kh:first-child .pill-2uzAFe /* Remove Home Guild, Remove Home Guild Selected */{
  visibility: hidden;
}

.wrapper-1Rf91z > div > div > .listItem-2P_4kh:first-child /* Make first guild small */{
  height: 18px!important;
}

.wrapper-1Rf91z > div > div > .listItem-2P_4kh:first-child .blob-1PX1Gp svg foreignObject a::after /* Add own "Home" Select */{
  content: 'Home';
  color: white;
  position: absolute;
  top: 3px;
  left: 7px;
  font-size: 12px;
  visibility: visible!important;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  line-height: 130%;
  transition: color var(--DurationGuildsWrapper);
}

.wrapper-1Rf91z > div > div > .listItem-2P_4kh:first-child:hover .blob-1PX1Gp svg foreignObject a::after{
  color: var(--ColAccent);
}

.wrapper-1Rf91z > div > div > .listItem-2P_4kh:nth-child(2) /* Remove Seperator between Home and Guilds */{
  display: none;
}

.wrapper-1Rf91z .listItem-2P_4kh div[class^="pill"] .item-2hkk8m {
  width: 5px;
  border-radius: 4px;
  margin-left: 1px!important;
  transform: none!important;
}
.wrapper-1Rf91z .listItem-2P_4kh div[class^="pill"] .item-2hkk8m[style*="height: 8"], .wrapper-1Rf91z .listItem-2P_4kh div[class^="pill"] .item-2hkk8m[style*="height: 7"] {
  height: 5px !important;
}

.wrapper-1Rf91z .listItem-2P_4kh div[class^="pill"] .item-2hkk8m:not([style*="opacity: 0;"]) {
  opacity: 1!important;
}

.wrapper-1Rf91z .listItem-2P_4kh .badgeWrapper-3e8pMZ .lowerBadge-29hYVK > * /* Ping Notification */{
  background-color: transparent!important;
  color: var(--ColAccent)!important;
  position: absolute;
  right: 49px!important;
  bottom: -5px!important;
  box-shadow: none!important;
}

.wrapper-1Rf91z .listItem-2P_4kh .badgeWrapper-3e8pMZ .upperBadge-2XnnGB > * /* Every other Notification */{
  background-color: transparent!important;
  right: 49px!important;
  position: absolute;
  top: -5px!important;
}

.wrapper-1Rf91z [class^='unreadMentionsIndicator']{
  padding-left: 2px;
  transition: padding 200ms 400ms;
}

.wrapper-1Rf91z:hover [class^='unreadMentionsIndicator']{
  padding-left: 8px;
}

.wrapper-1Rf91z [class^='unreadMentionsIndicator'] .bar-30k2ka{
  width: 12px;
  height: 12px;
  transition: width 200ms 200ms, height 200ms 400ms;
}

.wrapper-1Rf91z:hover [class^='unreadMentionsIndicator'] .bar-30k2ka{
  width: 54px;
  height: 24px;
  transition: width 200ms 200ms, height 200ms;
}

.wrapper-1Rf91z [class^='unreadMentionsIndicator'] .bar-30k2ka span{
  opacity: 0;
  transition: opacity 200ms;
}

.wrapper-1Rf91z:hover [class^='unreadMentionsIndicator'] .bar-30k2ka span{
  opacity: 1;
  transition: opacity 200ms 400ms;
}
