:root{

  --INTModBase: '    \2022  Base ~ Customa Devs (Base \2192  base.m.css)\A'!important;
  --INTVarBase: '\A\A Base - Module\A \2022  --ColAppBG \2192  Allowed Values: Image/Color\A \2022  --ColAuthBG \2192  Allowed Values: Image/Color\A \2022  --ColBackground1 \2192  Allowed Values: Color\A \2022  --ColBackground2 \2192  Allowed Values: Color\A \2022  --ColChannelList \2192  Allowed Values: Color\A \2022  --ColAccent \2192  Allowed Values: Color\A \2022  --ColAccentAlpha \2192  Allowed Values: Color (pref. rgba(x,x,x,0.1))\A \2022  --ColDividerRed \2192  Allowed Values: Color\A \2022  --ColAnchor \2192   Allowed Values: Color\A \2022  --ColLastMessage \2192  Allowed Values: Transparent/Color (pref. rgba(0,0,0,0.1))\A \2022  --ColTrue \2192  Allowed Values: Color (pref. Green)\A \2022  --ColFalse \2192  Allowed Values: Color (pref. Red)\A \2022  --DisplayBlockedUserMessage \2192  Allowed Values: None/Block\A \2022  --DisplayButtonEmoji \2192  Allowed Values: None/Flex\A \2022  --DisplayButtonGIF \2192  Allowed Values: None/Flex\A \2022  --DisplayButtonGift \2192  Allowed Values: None/Flex\A \2022  --DisplayEmbedPill \2192  Allowed Values: None/Block\A \2022  --DisplayNoConnectionBackdraw \2192  Allowed Values: None/Flex\A \2022  --FilterAccountSecurity \2192  Allowed Values: Any Filter'!important;

  /* SECONDARY LAYOUT */

  --ColAppBG: url('https://cdn.discordapp.com/attachments/261950094096596992/477207573758607371/oneshotdesktop4.png');
  --ColAuthBG: url('/assets/fd91131ea693096d6be5e8aa99d18f9e.jpg');
  --ColBackground1: rgba(0,0,0,0.2);
  --ColBackground2: rgba(0,0,0,0);
  --ColChannelList: var(--ColBackground2);
  --ColAccent: #d81b60;
  --ColAccentAlpha: rgba(216, 27, 96, 0.1);
  --ColAnchor: #0096cf;
  --ColLastMessage: transparent;
  --ColFalse: #f44336;
  --ColTrue: #8bc34a;
  --DisplayBlockedUserMessage: block; /* Block or none */
  --DisplayButtonEmoji: flex; /* Flex or none */
  --DisplayButtonGIF: flex; /* Flex or none */
  --DisplayButtonGift: none; /* Flex or none */
  --DisplayEmbedPill: none; /* Block or none */
  --DisplayNoConnectionBackdraw: flex; /* Flex or none */
  --FilterAccountSecurity: blur(4px);

  /* PRIMARY LAYOUT */

  --ColAppBG: #161616; /* Color or url('link to image')*/
  --ColAuthBG: url('/assets/fd91131ea693096d6be5e8aa99d18f9e.jpg');
  --ColBackground1: var(--ColAppBG); /* Color */
  --ColBackground2: #212121; /* Color */
  --ColChannelList: var(--ColBackground2); /* Color */
  --ColAccent: #d81b60; /* Color */
  --ColAccentAlpha: rgba(216, 27, 96, 0.1); /* Color in RGBA Format, best when hex code of --ColAccent is converted to rgba and get's an opacity of 0.1 */
  --ColDividerRed: var(--ColAccent); /* Color */
  --ColAnchor: #0096cf; /* Color */
  --ColLastMessage: transparent; /* Transparent or Color - pref. RGBA color */
  --ColFalse: #f44336; /* Color */
  --ColTrue: #8bc34a; /* Color */
  --DisplayBlockedUserMessage: block; /* Block or none */
  --DisplayButtonEmoji: flex; /* Flex or none */
  --DisplayButtonGIF: flex; /* Flex or none */
  --DisplayButtonGift: none; /* Flex or none */
  --DisplayEmbedPill: none; /* Block or none */
  --DisplayNoConnectionBackdraw: none; /* Flex or none */
  --FilterAccountSecurity: blur(4px);
}

/* 

Flicker Fix 

*/

html, span:not(.spinner-item) /* Antialias Fixes */{
  backface-visibility: hidden;
}

/*

Login Background

*/

.splashBackground-1FRCko .canvas-3XuBXe{
  background: var(--ColAuthBG)!important;
}

/*

Backgrounds & SVG Fills

*/

#app-mount, .appMount-3VJmYg/* App Mount - Base Element: Used for background image or color */{
  background: var(--ColAppBG) no-repeat!important;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover!important;
  width: 100%;
  height: 100%;
}

#bd-customcss-detach-container{
  background: var(--ColAppBG)!important;
}

/* Both Not's in here can be deleted */ .layers-3iHuyZ, .layer-3QrUeG, .layer-3QrUeG .flex-1xMQg5:not(.gatedContent-3-B7qB), .chat-3bRxxu, .content-yTz4x3, .standardSidebarView-3F1I7i, .sidebarRegion-VFTUkN, .popoutList-T9CKZQ, .sidebar-1-SQro, .popout-2sKjHu, .errorPage-u8SYh4 /* Pretty much only all the elements adding additional background colors, all disabled, to make the shared background work */, .chat-3bRxxu form /* Main Form Element in the main chat window */, .menu-Sp6bN1, .messagesPopoutWrap-1MQ1bW, .container-3ayLPN, .emojiPicker-3m1S-j, .container-3cGP6G, .popout-3sVMXz .contextMenu-HLZMGh /* Inner Popout Selectors to unify colors */ , .emojiPicker-3m1S-j .category-2U57w6 /* Categories of Emoji Picker */, .dimmer-3iH-5D.visible-3k45bQ /* Emoji Selector Dimmer - When opening diversity selector */, .userPopout-3XzG_A .body-3iLsc4, .userPopout-3XzG_A .header-2BwW8b /* User Popout Header & Body */, .search-bar, .searchBar-2_Yu-C /* Reset Searchbar */, .hasMore-sul95G button, .hasMore-3e72_v button /* Button when bottom of mention popout/top of chat is reached */, .actionButtons-14P9IC div, .actionButtons-1sUUug /* Action Buttons in the message Popouts and the search */, .searchAnswer-3Dz2-q /* What the filter searches for */, .channelSeparator-1X1FuH span /* Channel seperator Search */, .menu-Sp6bN1 .item-1GzJrl:hover, .container-3cGP6G .item-2J1YMK:hover, .container-3ayLPN .option-96V44q.selected-rZcOL-, .item-1Yvehc:hover /* Menu hover effects */, .topSectionPlaying-1J5E4n, .topSectionNormal-2-vo2m, .topSectionSpotify-1lI0-P, .topSectionStreaming-1Tpf5X /* Header of User Modal */, pre code /* Multiline Code Box Color Fix */, .media-engine-video, .previewContainer-37c2Si /* Transparent Layer for the Webcam Preview */, .modal-3HD5ck .message-2qRu38 .container-1YxwTf:last-of-type /* Transparent Message Delete and Pin Notif */, .carousel-JbsNzL /* Article Carousel Activity Tab */, .card-7JP0BX .body-SKIE6r, .newsLink-38Naqi /* Now Playing Friend Card Body & News Body */, .need-help-modal .form-inner /* F1 Menu Inner */, .sectionTag-pXyto9 /* Add new Role */, .container-1UB9sr /* In Voice Container */, .container-2x5lvQ section /* RTC Connection Body */, .closeButton-1tv5uR:hover /* Button to close Menues */, .wrapper-2lTRaf /* Guild Real Transparency */, .uploadModal-2ifh8j .footer-3mqk7D /* Upload Modal Footer */, .uploadModal-2ifh8j .button:not(.button-primary) /* Upload Modal Button Cancel */, .colorPickerCustom-2CWBn2 /* Role Color Picker */, .guildsError-b7zR5H /* Guild with outage */, .ace_gutter /* BetterDiscord Custom CSS Editor */, .react-datepicker, .react-datepicker__header /* React Datepicker */, .react-datepicker__day--outside-month /* Datepicker - Out of month */, .footer-2VgWkh /* Footer of 'no camera' modal */, .itemBackground-1jfD8p /* Item Background for Carusel Store Page */, .article-3kb3qm /* Selected article Actvitiy Menu */, .everyonePopout-nEbJY3 /* Popup that appears when mentioning everyone */, .quickSelectPopout-X1hvgV /* Region Select DM call */, .quickSelectPopoutOption-opKBx9:hover /* Region Select DM call hover */, .header-2o-2hj:hover /* server option button */, .bd-modal-inner .header, .bd-modal-body /* BetterDiscord Modal Parts */, #bda-qem, #bda-qem-twitch-container, #bda-qem-favourite-container /* BD-Emoji Picker */, .tileMedia-24cT6_ /* Loading Animation Titlecard */, .searchBar-2_Yu-C /* Searchbar Emoji Picker */, .addGamePopout-2RY8Ju .divider-3573oO /* Add Game Dialog Divider */, .listeningAlong-2UPsxf /* Spotify Listen Along Container */, .partyMemberOverflow-1tfvpb /* Party Member Overflow Activity Feed */, .panel-VoWSbJ /* Go Live Panel */, .gameUpdates-2GPqBU /* Game Download Screen */, .inputField-aNPXsv /* Input Field Phone Verification */, .container-1r6BKw /* New Title Bar Fixes (20th April 2019) */, .container-jGk-CT, .container-jGk-CT .players-1zg2l8 /*  Container for Games - in activity feed */, .recentlyPlayedContainer-2F3MqS /* Recently Played Container Activity Feed */{
  background-color: transparent!important;
}

.now-playing-add .contents-18-Yxp /* Add new Game Button */, .friendTableAddHeader-m9bzFr /* Friends Table Find new friends */, .emptySearchResults-1ba__I /* Empty Search Results Server Discovery */{
  background: transparent!important;
  background-color: rgba(0,0,0,0)!important;
}

.wrapper-1Rf91z /* Guilds Wrapper */, .privateChannels-1nO12o .searchBar-6Kv8R2 /* Search Bar in Private Channels */, .container-2Rl01u /* Search bar(s) for DM + Container in Servers for Server name */, .container-2Thooq /* User Container Channel Bar */, .popout-3sVMXz, .popout-2nUePc, .modal-3HD5ck, .modal-1UGdnR .inner-1JeGVc .root-SR8cQa, .premiumPaymentModal-3SpIbo, .addGamePopout-2RY8Ju, .modal-1UGdnR .contentWrapper-3WC1ID /* Main Popout & Modal Class(es) */, .emojiPicker-3m1S-j .stickyHeader-1SS0JU /* Emoji Selector Sticky Selector */, .typing-2GQL18 /* Typing Indicator */, .jumpToPresentBar-9P20AM /* Jump To Present Bar */, .contextMenu-HLZMGh /* Single popout for profiles and deletion of messages */, .divider-3gKybi:not(.dividerRed-MKoLlr) div /* Divider Fixes */, .embedInner-1-fpTo, .attachment-33OFj0, .wrapper-35wsBm, .wrapperAudio-1jDe0Q /* Element which holds the embed & attachment contents */, .grabber-3mFHz2 .bubble-3we2di /* Grabber - Shows Value of Sliders */, .select-2TCrqx .css-181m2lf-menu /* Multiselect Select Menu - Background */, .quickswitcher-3JagVE /* Quick Switcher */, .autocomplete-1vrmpx /* Autocomplete */, .keyboardShortcutsModal-3piNz7, .overflowRolesPopout-140n9i, .need-help-modal /* Modals that can't be colored normally - Keyboard Menu, Menu for Overflowing Roles Members Menu, F1 Menu */, .messageGroupBlocked-3wrQQX /* Message sent from a person that blocked you */, .channelTextArea-1LDbYG .inner-zqa7da /* Autocomplete Fix for Transparent Themes */, .members-1998pB /* Server Member Bar */, .regionSelectModal-12e-57 /* Regional Select Modal */, .uploadModal-2ifh8j /* Upload Modal */, .container-16j22k /* Loading Container */, .uploadDropModal-2kTwbc, .uploadArea-3QgLtW .bgScale-1otPtc /* Whole Drop Modal */, .gamePreview-9weYR2 /* Game Modal Sidebar BG */, .authBox-hW6HRx /* Login Modal */, .editor-wrapper #bd-customcss-editor, #bd-customcss-attach-controls /* BetterDiscord Custom CSS Editor */, .theme-dark .messageGroupWrapper-o-Zw7G /* Pinned Message Wrapper Color Change on Dark Theme */, .searchResultsWrap-2DKFzt /* Main Wrapper for search */, .bd-toast /* Toast Indicator that appears when enabling or disabling themes */, .switch-3wwwcV, .ui-switch /* Switch Unticked */, .userSettingsAccount-2eMFVR > div:nth-child(2) /* User Settings */, .attachPopout-1n-ZKM /* Invite to ... Popup */, .filterByTitle-1b4n21 /* Filter By Title Searchbar Store Page */, .premium-39U29H .arrow-1QsYio /* Premium Box Carousel Buttons */, .carousel-2WxMes /* Remove Blue Blur - Activity */, .tileWrapper-2khh-w /* Items new Store */, .popout-2xBvMR /* Popout Game Store */, .applicationStore-1pNvnv .tileMedia-24cT6_ /* Big Media Boxes (with Video) */, .purchaseUnit-2lxci3 /* Purchase Box  Game Page */, .whyYouMightLikeIt-2zZIIj /* Why you might like it box Game Page */, .features-_IOqVv .row-1bU71H /* Feature Rows Game Page */, .tier1Banner-1B_WXY /* Tier 1 (Lightro) Banner */, .ace_editor, .ace_gutter /* bd editor */, .incomingCall-14zLcL /* Incomming Call */, .progress-1IcQ3A /* New Mic Test Discord Progress */, .animator-US5i9g /* Create or Join Server Popup Background */, .formatSelectors-3aBz_F select /* Select GIF Picker */, .searchResultMessage-2VxO12 /* Search Result Message */, .autocompleteHeaderBackground-30T70q /* Add new Role Header */, .modal-1UGdnR .inner-1JeGVc .body-3ND3kc /* Body of User Modal */, .spoilerText-3p6IlD.hidden-HHr2R9 /* Spoiler Text Hidden */, .popout-3G62UL /* Popout Activity Feed */, .genreTag-3QLRUJ /* Genre Tag Nitro Shop */, .phoneFieldPopout-h7c9mt /* Phone Field Popout */, .powercord-toast /* Powercord Toast */, .headerBar-1YYOfi /* Header Bar Nitro Store */, .container-1r6BKw /* Header Bar Friends Table */, .userLimit-64AFxe .total-3tKGEB /* User Limit Voice Channel */, .unreadBar-3YD_k9 /* Unread Bar */{
  background-color: var(--ColBackground1)!important;
  background: var(--ColBackground1)!important;
}

.button-mM-y8i /* Remove Keybind & Games Button */{
  background-color: var(--ColBackground1)!important;
}

.channels-Ie2l6A, .container-PNkimc, .privateChannels-1nO12o /* Channels scroller for both DMs and Servers */{
  background-color: var(--ColChannelList)!important;
}

.messagesWrapper-3lZDfY /* The main chat window */, .contentRegion-3nDuYy /* Content Region - Settings Menu */, .activityFeed-28jde9, .container-3gCOGc, .activityFeed-1C0EmJ /* Activity Feed & Friends Menu*/, .keybindShortcut-1BD6Z1 span /* Keybind */, .body-1SVoBw /* Game Modal Content BG */, .gameLibrary-TTDw4Y /* Game Library */, .reactors-Blmlhw /* Reactions Right half, sidebar-1-SQro is left half */, .container-_CzRhL /* Body of 'no camera' modal */, .stickyHeader-1pqx0j /* Game Library Table Header */, .noChannel-Z1DQK7 /* When channel selections break */, .applicationStore-1pNvnv /* Store */, .ace_scroller, .ace_content /* bd editor */, .root-26DmKJ /* Nitro Games Library */,  .root-1BQpZw /* Gift Inventory Window */, .bd-modal-inner /* BetterDiscord Modal */, .userLimit-64AFxe .users-i_3-kL /* User Limit Voice Channel */, .gatedContent-3-B7qB /* NSFW Channel Warning */{
  background-color: var(--ColBackground2)!important;
  background: var(--ColBackground2)!important;
}

.videoHeight-Qp_9vC /* Call BG */{
  background-color: var(--ColBackground2)!important;
}

.newMessagesBar-mujexs /* Bar that appears in the chat div when you have a new message in the channel */, .checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span /* Checkbox Selectors */, .container-2td-dC::before /* Dots and Lines for Server Select and Unread Notifs */, .button-38aScr:not(.colorRed-1TFJan):not(.lookLink-9FtZy-):not(.button-2b6hmh):not(.attachButton-1UjEWA):not(.emojiButton-3uL3Aw):not(.lookBlank-3eh9lL), .questionMark-CWEQZn /* Buttons */, .slider-1PF9SW .barFill-23-gu- /* Slider Settings Bar Fill */, .notificationSettings-1NQKPR .option-n0icdO.selected-mKYnfr /* Selected Option Overlay Notif Settings */, .bd-pfbtn, .bda-settings-button /* Buttons for Better Discord */, .now-playing /*  Game Activity*/, .paginationItem-2lUq0s.selectedPage-3cFHgU::before /* Activity Feed Page Page Bubble */, .container-3gCOGc .primary-3j8BhM /* Add Friend Button Friends Menu */, .need-help-modal .header /* Header of F1 Menu */, .container-2x5lvQ header /* RTC Connection Header */, .selectorButtonSelected-1j4DmC, .selectorButtonSelected-3y0Xdk /* Screen Share Stream Quality and Frame Rate */, .guildIcon-lQ0uiM:not(.guildIconExpired-2Qcq05) /* Fallback Guild Icon Color INVITE */, .containerDragBefore-31UGCO::before, .containerDragAfter-1F4fgZ::after, .containerDragBefore-3Dzc5x::before, .containerDragAfter-3TEhpe::before /* Small Box that appears when dragging channels and categs */, .mediaBarProgress-1xaPtl, .mediaBarProgress-1xaPtl.fakeEdges-27pgtp::before, .mediaBarProgress-1xaPtl.fakeEdges-27pgtp::after, .mediaBarGrabber-1FqnbN /* All Kinds of Media Controls */, .animator-US5i9g .create-3jownz .actionButton-2PeQbJ /* Buttons Create Guild */, .regionSelect-3lf4eE:hover button /* Regional Select Button Fixes */, .uploadModal-2ifh8j .button-primary /* Upload Modal Button Upload */, .progressContainer-3ao-eu .progressBar-3u8FBM /* Progress of Upload */, .spinner-2enMB9 .wanderingCubesItem-WPXqao, .spinner .spinner-item /* Spinner Element */, .badge-1GsMF2, .mention-1f5kbO /* Unread Badge */, .hue-13HAGb > div > div > div > div /* Role Color Picker Handle */, .botTagRegular-2HEhHi /* Bot Tag */, .wrapper-232cHJ /* Friend Request Block */, .standardSidebarView-3F1I7i #editor-detached button /* Better Discord Custom CSS Editor Attach Button */, .switch-3wwwcV.valueChecked-m-4IJZ, .ui-switch.checked /* Switch Ticked */, .hintValue-29ny8Z /* Hint Value for Datepicker */, .blog-2nw4E8 /* Blog Entry from Discord */, .bd-server-card.bd-server-card-pinned:after /* Public Server, pinned server line */, #pubslayer button /* Pub Servers Reconnect Button */, .priceSalePercentage-AqGkYF, .salePercentage-TXZz3H /* Percentage */, .iconBadge-2dji3k /* New Pins Notifier */, .annualDiscount-1VxngV /* Gift Nitro Menu Annual Discount Tag */, .container-3ISnnM .content-ySCtCx .results-3i9FaE div[style*='background-color'] /* Loading Animation New GIF Selector */, .bd-modal-inner button /* BetterDiscord Modal Button */, .categoryFadeBlurple-1j72_A /* Favorites GIF Selector */,.unread-3zKkbm /* Unread Indicator Channel Wrapper */, .gameUpdates-2GPqBU .progressBar-3u8FBM /* Progress Bar Game Downloader Filled */, .progressBar-3zryPV[style*='background-color: rgb(0, 176, 244)'] /* Buffer Downloader Game Library */, .item-26Dhrx[style*='background-color: rgb(114, 137, 218);'], .wrapper-1Rf91z .button-OhfaWu.selected-wSa2KV /* Home Icon Guilds Wrapper */, .wrapper-sa6paO .item-2hkk8m /* Guilds Wrapper Dots */, .numberBadge-2s8kKX /* Number Mention Badge Guilds Wrapper */{
  background-color: var(--ColAccent)!important;
}

.messagesPopoutWrap-1MQ1bW .header-ykumBX, .messagesPopoutWrap-1MQ1bW .footer-1kmXd4, .emojiPicker-3m1S-j .header-1nkwgG, .modal-3HD5ck .footer-2yfCgX /* Inner Popout & Modal Selector Header and Footer */, .privateChannels-1nO12o .channel-2QD9_O.selected-1HYmZZ a, .privateChannels-1nO12o .channel-2QD9_O:hover a, .userHovered-2_fT4Z/* Selected & Hovered Channel */, .popout-2nUePc .item-16cXuq:hover /* Diversity Selector on Hover */, .member-3W1lQa:hover .content-OzHfo4, .member-3W1lQa.popout-open .content-OzHfo4 /* Member Selector Hover and Selected */, .userPopout-3XzG_A .footer-1fjuF6 /* User Popout Footer */, .quickMessage-2XpSaN /* Quickmessage box in the user popout */, .searchBar-3dMhjb /* Searchbar for Channel Search */, .actionButtons-1sUUug .jumpButton-3DTcS_, .action-buttons .jump-button /* Jump Button to jump to the selected message group */, .searchFilter-2ESiM3 /* Search Filter - Search */, .queryContainer-RKFJW-.focused-2bY0OD, .searchHeader-1l-wpR /* Header of the search bar */, .search-result-message.hit /* The exact message that was searched for */, .emojiPicker-3m1S-j .search-bar-inner /* Searchbar of Emoji Picker */, .channelNotice-1-XFjC, .channelNotice-1-XFjC .btn-11C5_u /* Notices that come up at  the top of the channel list (invite people) + Button in it*/, .emojiItem-109bjA.selected-39BZ4S /* Hover Effect Emoji Item Emoji Picker */, .connectedAccount-36nQx7 /* Connected Account User Modal */, .modal-1UGdnR .inner-1JeGVc .tabBarContainer-1s1u-z /* Border of the Tab Bar Container in the User Modal */, pre, code.inline /* Code Boxes */, .actionButton-3W1xZa, .ui-tab-bar-item:hover /* Settings Sidebar + BD Selectors Sidebar */, .fancy-credit-input, .wrapper-1cBijl /* Credit Card Input & Find Friend Input */, .slider-1PF9SW .bar-2Qqk5Z /* Slider Settings Empty Bar Fill */, .checkbox-1ix_J3 /* Settings Checkboxes */, .accountBtnInner-sj5jLs /* Account Button (Connections Menu) */, .notificationSettings-1NQKPR .wrapper-3jrx9n /* Wrapper for the Notification Settings of the Overlay */, .notificationSettings-1NQKPR .option-n0icdO /* Option Overlay Notif Settings */, .message-2qRu38 /* Delete and Pin Notif Pin Layer */, .card-FDVird:before /* Keybinds & Games Card Hover effect */, .not-detected /* Game Activity */, .select-2TCrqx /* Multiselect */, .select-2TCrqx .css-12o7ek3-option, .select-2TCrqx .css-1aymab5-option:hover /* Selection and Hover Multiselect */, .personalizationNotice-2HTAH2, .card-7JP0BX /* Activity Feed Boxes */, .article-FleDq5 /* Article Activity Feed */, .container-3gCOGc .item-PXvHYJ.selected-3s45Ha, .container-3gCOGc .item-PXvHYJ:hover, .topPill-30KHOu .selected-3s45Ha, .topPill-30KHOu .item-PXvHYJ:hover /* Top bar Action Button Select */, .avatar-uploader-inner /* Avatar Uploader Inner */, .friendsRow-2yicud:hover, .friendsRow-2yicud .friendsAction-__WNE9, .search-bar-inner .anchor-3Z-8Bb /* Friends Row Button & Friends Row Hover & Friends Add Popout Selection Color & Add Friend Popout Tag Searchbar */, .quickswitcher-3JagVE .input-2VB9rf, .quickswitcher-3JagVE .resultFocused-3aIoYe /* Quickswitcher Input & Focus */, .autocompleteRow-2OthDa .selectorSelected-1_M1WV, #help-query /* Input of F1 Menu */, .need-help-modal .footer /* Footer F1 Menu */, .messageEditorCompact-2PSR3v /* Message Editor */, .popoutList-T9CKZQ .selectableItem-1MP3MQ:hover, .popoutListInput-1l9TUI /* Filter Member Settings Hovered Item + Searchbar */, .emoji-row .inputMini-2xQV9P /* Input Emoji Rename */, .buttonInfo-3nkbOt:hover /* Info Button when in voice */, .actions-2vadYq .iconsWrapper-1RelE3 /* Action Box Call */, .inner-1JeGVc .modal-3HD5ck .tiles-2aXG_k /* Screensharing All Boxes */, .inviteRow-2L02ae:hover /* Invite Friends to Server Row Hover */, .guildIconExpired-2Qcq05 /* Expired Guild INVITE */, .messageGroupBlocked-3wrQQX .messageGroupBlockedBtn-1PBBh-  /* Message sent from a person that blocked you Button */, .bda-slist li /* Better Discord Plugins and Themes Boxes */, .mediaBarPreview-1jfyFs, .mediaBarPreview-1jfyFs.fakeEdges-27pgtp::before, .mediaBarPreview-1jfyFs.fakeEdges-27pgtp::after /* All Kinds of Media Controls - Hover Effect on Bar */, .animator-US5i9g .actions-pBaxX6 .action-1lSjCi /* Create Guild Container Objects */, .regionSelectModalOption-2DSIZ3 /* Option on Regional Select Modal */, .uploadModal-2ifh8j .channelTextArea-1LDbYG .inner-zqa7da /* Channel Text Area fix in Upload Modal */, .progressContainer-3ao-eu .progress-3Rbvu0 /* Empty Progressbar of Upload */, .placeholderAvatar-uzH8f6, .memberGroupsPlaceholder-3mwPub /* Placeholder when loading member wrap fails */, .containerDefault-1ZnADq:active .content-3at_AU, .botTagInvert-18-95s, .membersWrap-2h-GB4 .botTagRegular-2HEhHi /* User Popout & User Modal & Members Wrap Bot Tag */, .authBox-hW6HRx input /* Input Login Modal */, #bd-customcss-detach-controls-button button /* BetterDiscord Custom CSS Editor */, .rowWrapperActive-2L7i9f /* Game Row Library Menu */, .videoHeight-Qp_9vC:hover .video-1FfuMD:not(.minimum-1pRSEN) .videoInner-3OR9J2 .flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.videoBottom-2_HYXG /* Bar which holds action items in voice call */, .audioControls-2HsaU6, .mediaBarInteractionVolume-3QZqYd /* Audio Controls from MP3 + Audio Bar */, .libraryFilterInput-3JzqZD /* Library Filter Input */, .gameNameInput-385LoS:hover, .gameNameInput-385LoS:focus /* Game Name Input */, .flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.auditLog-3jNbM6.marginBottom8-AtZOdT /* Audit Log entry */, .invite-18yqGF /* Spotify Invite */, .defaultIndicator-2X8Auf /* Default Indicator Game Install Location */, .react-datepicker__day:not(.react-datepicker__day--outside-month), .react-datepicker__day.react-datepicker__day--weekend.react-datepicker__day--outside-month /* Valid Day of Datepicker */, .reactionSelected-1pqISm, .reactionDefault-GBA58K:hover /* Selected Reaction & Hover */, .applicationTile-1Goy1W, .tile-367QuY /* Game boxes on Store */, .browseSearchInput-Jt8kg0 /* Store Search */, .everyonePopout-nEbJY3 .footer-2aTx0s /* Popup that appears when mentioning everyone */, .recommendationReason-21q3aC .iconCircle-1dlYo0 /* Icon Circle Popout Store */, .purchaseUnit-2lxci3 .bodySection-jqkkIP /* Purchase Box Game Page Color Fix */, .input-autosize-input:focus /* Group Chat Name */, .content-35aVm0 /* Discord Server Join Store Page */, .theme-dark .attachPopoutRow-KrE-f6:hover /* Rich Presence Thing */, .pill-1dHPfk /* Pills join link */, .incomingCallInner-2VmFiR /* Incomming Call Inner Color Fix */, .container-2Thooq button:hover /* mute/deafen/settings buttons */, .option-1l2vXE /* Gift Nitro Menu Options */, .inputMini-2xQV9P /* Mini-Input - For example for Emotes */, .container-2Zlzt0 /* Container in Nitro Menu under Banner */, .item-2yFVoY /* 'News' Items Store */, .bd-modal-inner .footer /* Footer of BetterDiscord Modal */, .note-3kmerW textarea:focus /* Note Popout Menu Focus */, #bda-qem button.active, #bda-qem button:hover /* BD-Emoji Picker */, .searchBarTag-2xRzm8 /* Search Tag Add Friends Group Chat */, .emptyHintCard-2mUdMe /* Empty Hint Card GIF Selector */, .header-2bNvm4 /* Add Role Popout Header */, .hasMore-sul95G button:hover, .hasMore-3e72_v button:hover /* Button when bottom of mention popout/top of chat is reached, hovered */, .partyMemberBackground-aSF9mc /* Party Member Activity Tab (when you are playing with other people) */, .friendsRow-2yicud .noIcon-1a_FrS /* No Server Icon Friends Table */, .searchBox-3Y2Vi7 /* Server Discovery Search Bar */, .avatarUploaderInner-3UNxY3 /* Server Icon Create Server */, .circleIconButton-jET_ig /* Add Server Button */, .tile-2OwFgW /* Nitro Gift */, .outer-2IVh5n, .section-3TvauS, .inset-GQDQYw, .container-35JN_A /* Cards Activity Feed */, .tile-QA_yMc /* Store Tile */, .gameUpdates-2GPqBU .progress-2XXRYo /* Progress Bar Game Downloader */, .phoneField-38N1bJ /* Phone Verification Field */, .phoneField-38N1bJ .countryButton-3xq3Ts /* Phone Verification Field Country Button */, .input-3yHnCz /* Phone Verification Code Entry */, .powercord-plugin /* Powercord Plugin Library Support */, .powercord-account /* Display of your powercord account */, .powercord-spotify-playlist /* Spotify Modal Powercord Playlist */, .powercord-toast .button/* Powercord Toast Buttons */, .installSize-1eXbBX /* Install Size Games Library */, .errorDetails-qKU8eS /* Error Details on Game Download */, .progressBar-3zryPV[style*='background-color: rgb(79, 84, 92)'] /* Buffer Downloader Game Library */,
.containerDefault-1ZnADq.selected-37j_iU .content-3at_AU,.containerDefault-1ZnADq:hover .content-3at_AU, .side-8zPYf6 .item-PXvHYJ:hover /* New Channel List and Settings Menu Buttons */, .privateChannels-1nO12o .searchBar-6Kv8R2 .searchBarComponent-32dTOx /* Search Bar in Private Channels */, .section-2VKIPC /* Activity Feed Sidebar, now playing Section */, .searchBarComponent-yxeVIL /* Search Bar Add to DM */, .friendSelected-3J_Uh8 /* Selected Friend on Add to Conversation Modal */, .akaBadge-1M-1Gw /* Aka for server nicknames */, .searchBar-s2JxlI /* Search Bar Nitro Shop */, .searchBar-TUoVPN /* Search Bar Inventory */, .codeRedemptionRedirect-1wVR4b /* Redeem Codes Games/Nitro */, .item-26Dhrx:not([style*='background']) /* Multiselect Background */, .wrapper-1Rf91z .button-OhfaWu /* Home Icon Guilds Wrapper */, .iconBadge-2wi9r4 /* Audio/Video Feedback Guild */, .acronym-2mOFsV /* Guild without image */, .searchBar-2pWH0_ /* Search Bar Emoji Picker */, .searchBar--fTZYa /* Tenor Search Bar */, .dragPlaceholder-D9-haY /* When Guild is dragged */, .voiceUser-14U_Ns:hover .content-3xS9Lh, .voiceUser-14U_Ns.selected-3TGCSZ .content-3xS9Lh /* Voice User Hover and Selected */, .card-GqTca8 .popout-3G62UL .wrapper-3rh-14:hover, .card-GqTca8 .popout-3G62UL .memberListContainer-1AKCDy:hover /* Now Playing Container, Chat (and more) + message user */, .searchBarComponent-yxeVIL a /* Add Friends To DM Tag */, .containerDefault-1ZnADq .modeSelected-1zApJ_ .content-3at_AU /* Voice Channel Clicked */, .container-jGk-CT .footer-3J5oP4 /* Footer Game Menu Activity Feed */, .player-3zB-0D:hover /* Player Game Menu Activity Feed */, .entitledHeader-3LRNDT /* Store Page, Game Owned */, .card-3Qj_Yx:not(.item-26Dhrx) /* Notice Bubbles Settings */, .searchBar-1YE5UV /* Search Bar Members List */, .container-2XeR5Z /* Invite Friends to Server Search Bar */, .notDetected-33MY4s /* No Game Running */, .modal-1UGdnR .attachment-33OFj0 /* Attachment when message delete/pin */{
  background-color: rgba(0,0,0,0.2)!important;
}

.friendsRow-2yicud .friendsAction-__WNE9:hover /* Friends Row Button Hover */, .emoji-row .inputMini-2xQV9P:hover /* Input Emoji Rename */, .buffer-26XPkd, .buffer-26XPkd.fakeEdges-27pgtp::before, .buffer-26XPkd.fakeEdges-27pgtp::after /* All Kinds of Media Controls - Buffer */, .react-datepicker__day.react-datepicker__day--weekend /* Datepicker Day which is weekend */, .itemBackground-1jfD8p + .itemDescriptionContainer-1DOZz3 /* Description of Carusel Store */, .tile-2OwFgW:hover /* Nitro Gift on hover */, .card-GqTca8 .popoutContainer-3WC9HR:hover, .container-35JN_A:hover /* Card Activity Feed */{
  background-color: rgba(0,0,0,0.4)!important;
}

.container-2VW0UT /* You got changes to save Box */, .premiumPromo-yVfLiA /* Premium Promo in the emoji picker */{
  background-color: rgba(22,22,22,0.9)!important;
}

.ace_gutter-active-line, .ace_marker-layer .ace_active-line /* bd editor current line */{
  background-color: rgba(255, 255, 255, 0.05)!important;
}

.reactionMe-23mbRf /* tfw you react */, .mention:not([style*='background-color']), .wrapper-3WhCwL:not([style*='color']) /* Mentioned when not some role color is defined */, .message-15tBk4 strong /* Sync Permission Dialog - Channel Names */, .theme-dark .isMentioned-N-h9aa /* Mention Background */, .ace_selection /* bd editor selected text background */, .isMentionedCozy-3isp7y:after /* Mention Fix in Cosy */, .containerUserOver-1U5YnL::after /* User Drag Area Voice */{
  background-color: var(--ColAccentAlpha)!important;
}

.messageGroupBlocked-3wrQQX .container-1YxwTf /* Blocked Messages Transparency */, .instructions-2Du9gG pre, .videoTop-eOkSPq /* Remove Uneeded Linear Gradient in Video Calls */, .lookLink-9FtZy-.colorBrand-3pXr91:hover .contents-18-Yxp /* Link Button */, .messageEditorCompact-2PSR3v .channelTextArea-1LDbYG .inner-zqa7da /* Remove background color of Channel Text Area in Edit Mode */, .itemBackground-1jfD8p::before /* Item Background for Carusel Store Page */, .paginationItem-2lUq0s:after /* Activity Menu - Sidebar Articles */, .mediaFade-4Pqtcc /* Store Items */, .option-96V44q:after, .lookLink-9FtZy-.colorLink-35jkBc:hover .contents-18-Yxp /* 'Leave the Hypesquad' Link */, .spoilerText-3p6IlD:not(.hidden-HHr2R9) /* Spoilers Non Hidden */{
  background: transparent!important;
}

.ui-tab-bar-item.selected /* BD Selectors Sidebar */, .slider-1PF9SW .bar-2Qqk5Z.speaking-2bFhO4 /* Speaking Slider Settings */, .popoutList-T9CKZQ .selectableItem-1MP3MQ.selected-31soGA /* Filter Member Settings Selected Item */, .channel-2QD9_O:not([style*='height']).selected-1HYmZZ a /* Friends/Game Menu Selected */, .react-datepicker__day--selected:after /* Selected Day Datepicker */, .side-8zPYf6 .selected-3s45Ha.item-PXvHYJ:not([style*='back']) /* Settings Sidebar Override Hover */{
  background-color: var(--ColAccent)!important;
}

.modal-1UGdnR .inner-1JeGVc .body-3ND3kc .listRow-hutiT_:hover /* User Modal Server & Friend Hover effect */, .isLocalBot-38G0P0 /* Clyde Message / Local Bot */, .row-rrHHJU.selected-1pIgLL /* Add Role Member Popout Selected Item */{
  background: rgba(0,0,0,0.2)!important;
}

.videoWrapper-2wbLD- .videoInner-3OR9J2 .videoBottom-2_HYXG.flex-1xMQg5 .actions-2vadYq /* Video Call Bar */{
  background-color: rgba(0,0,0,0.05)!important;
}

.container-1YxwTf:last-of-type /* Last Message Block can have different color */{
  background-color: var(--ColLastMessage);
}

.buttonDisconnect-3W_SJc:hover /* Button to disconnect voice */{
  background-color: var(--ColFalse)!important;
}

.noticeDanger-7u-yT9 /* 'no mic' warning */{
  background-color: #f44336;
}

.animator-US5i9g .join-33Tr-7 .actionButton-2PeQbJ /* Second Header Create Guild Container */{
  background-color: var(--ColTrue)!important;
}

.updateIconForeground-2jeItf /* Changes fill of the update Icon */, .connectedAccountVerifiedIcon-3aZz_K g path:not([fill='#ffffff']) /* Change the Color of the Verified Tick */, .selectorButton-21mL5E svg path /* Nitro Icon Screenshare Option */, .verified-3uJH7V path[fill='#4f545c'] /* verified server badge */, svg[name='LearnMore'] path /* SVG Question Mark Search */, .verified-3uJH7V .verifiedInner-DViLz0 /* Verified Server Icon Header */, .verifiedIcon-1vpk3S path[fill='#7289da'] /* Verified Server Discovery */, .verifiedIcon-3oz8wo[color='#7289da'] path[fill='currentColor'] /* Verified Server Activity Feed Game Description */, .updateIconForeground-3tnNZn /* Download Update Icon */{
  fill: var(--ColAccent);
}

.anchor-3Z-8Bb svg g path.fill /* Download Icon Embed */{
  fill: #fff;
}

.icon-1_QxNX path, .icon-22AiRD path /* Icon Channel */, .linkButtonIcon-Mlm5d6 path /* Link Icons (like Nitro-Shop) */{
  color: #b9bbbe;
}

.closeButton-1tv5uR path.fill, .btn-close path.fill, .bda-slist .settings-open div[style*='float'] svg path.fill /* Button to close Menues */, .planFeatureIcon-2IPRYs path.fill /* Lightro Not Included */{
  fill: #f44336;
}

.circleBackground-OqqxHM /* Download Icon Library */{
  fill: rgba(0,0,0,0.2)!important;
}

.channelNotices-41mJbj .close-relY5R /* Button to close Menues */{
  background-image: url('https://customa.gitlab.io/Customa-Misc/Discord/SVGs/Close.svg')!important;
  opacity: 1!important;
}

.premium-39U29H /* Nitro now has games banner */{
  background: var(--ColBackground1)!important;
}

.tag-HanR-9, .tag-HanR-9::before /* First on Discord - Badge Store */, .headerFancy-1AcCLF /* Premium Header Game Page & First on Discord */, .revenueShareUpsell-27xExj /* We give 20% more revenue to Game Devs Shill */, .coloredBackground-37Z6Gv /* Colored Background Activity Feed */{
  background: var(--ColAccent)!important;
}

.tileWrapper-2khh-w .mediaDescription-31GsyQ /* Big Store Item */{
  background: linear-gradient(180deg,transparent,var(--ColBackground1),45%,var(--ColBackground1));
}

.footer-3oZnEF /* Footer Store */{
  background: url(/assets/72e1fd085e240aecf005e642e655c0f4.svg) no-repeat bottom, url('https://customa.gitlab.io/Customa-Misc/Discord/SVGs/StoreBottomBackground.svg') no-repeat bottom/100% !important;
}

.notches-1sAcEM /* Notches new Mic Test */{
  background-image: url("https://customa.gitlab.io/Customa-Misc/Discord/SVGs/NotchesMicTest") !important;
}

/*

Borders, Box Shadows and Strokes

*/

.channelTextArea-1LDbYG /* Main Channel Text Area - Main Chat Window */, .messagesPopoutWrap-1MQ1bW /* Inner Popout Selectors to unify colors */, .popout-2nUePc, .emojiPicker-3m1S-j /* Diversity & Emoji Selector Popout */, .quickMessage-2XpSaN /* Quickmessage box in the user popout */, .userPopout-3XzG_A .footer-1fjuF6 /* User Popout Footer */, .hasMore-sul95G button, .hasMore-3e72_v button /* Button when bottom of mention popout/top of chat is reached */, .connectedAccount-36nQx7 /* Connected Account User Modal */, .modal-1UGdnR .inner-1JeGVc .tabBarContainer-1s1u-z /* Border of the Tab Bar Container in the User Modal */, pre /* Multiline Code Box Border Fix */, .embedInner-1-fpTo, .attachment-33OFj0, .wrapper-35wsBm, .wrapperAudio-1jDe0Q /* Element which holds the embed & attachment contents */, .card-3Qj_Yx /* Card Element, used for the user Component in my account for example */, .button-38aScr:not(.colorRed-1TFJan):not(.lookLink-9FtZy-):not(.button-2b6hmh):not(.attachButton-1UjEWA):not(.emojiButton-3uL3Aw):not(.lookBlank-3eh9lL), .questionMark-CWEQZn /* Buttons */, .checkbox-1ix_J3:not(.checked-3_4uQ9) /* Main Settings Checkbox */, .channelNotice-1-XFjC .btn-11C5_u /* Channel Notice Button */, .card-FDVird:before /* Keybinds & Games Card Hover effect */, .personalizationNotice-2HTAH2 /* We want to spy on you Nofication */, .friendTableAddHeader-m9bzFr, .friendTableSuggestionsHeader-2zSnpD /* Friends Table Find new friends */, .wrapper-1cBijl /* Find Friend Input */, #help-query /* Input of F1 Menu */, .need-help-modal .footer /* Footer F1 Menu */, .container-1UB9sr /* In Voice Container */, .actions-2vadYq .iconsWrapper-1RelE3 /* Action Box Call */, .closeButton-1tv5uR, .btn-close /* Button to close Menues */, .animator-US5i9g .actions-pBaxX6 .action-1lSjCi, .cancelButton-RGXhAE /* Create Guild Container Objects */, .colorPickerCustom-2CWBn2 /* Role Color Picker */, #bd-customcss-detach-controls-button button /* BetterDiscord Custom CSS Editor */, .gameNameInput-385LoS /* Game Name Input */, .auditLog-3jNbM6 /* Audit Log entry */, .invite-18yqGF /* Spotify Invite */, .react-datepicker__navigation /* React Datepicker */, .react-datepicker__day /* Day of Datepicker */, .container-3ayLPN /* Search Popout */, .datePickerHint-3Q1Udw /* Date Picker Hint */, .incomingCallInner-2VmFiR /* Border Fix for incoming call */, .messageGroupBlocked-3wrQQX /* Blocked Message Border */, .bd-modal-inner /* BetterDiscord Modal */, #bda-qem /* BD-Emoji Picker */, #bda-qem button /* BD-Emoji Picker */, .formatSelectors-3aBz_F select /* Select GIF Picker */, .searchResultMessage-2VxO12 /* Search Result Message */, .userInfoSection-2acyCx+.userInfoSection-2acyCx /* User Modal Border Middle */, .messageGroupWrapper-o-Zw7G /* Border around Message in pinned messages */, .panel-VoWSbJ /* Go Live Panel */, .select-2TCrqx .css-181m2lf-menu /* Multiselect Select Menu - Background */{
  border: none!important;
}

.accountBtnInner-sj5jLs /* Account Button (Connections Menu) */, .regionSelectModalOption-2DSIZ3 /* Option on Regional Select Modal */, .powercord-spotify-playlist /* Spotify Modal Powercord Playlist */, .item-26Dhrx .checkbox-1ix_J3.checked-3_4uQ9 /* Settings Multi-Select Checkbox */{
  border-color: transparent!important;
}

.grabber-3mFHz2 .bubble-3we2di::before, .popout-3sVMXz section:after, .popout-3sVMXz section:before /* Grabber - Shows Value of Sliders */{
  border-top-color: var(--ColBackground1)!important;
}

.isMentionedCozy-3isp7y:after /* Mention 'Handle' */{
  border-left-color: var(--ColAccent);
}

.tabBar-2MuP6- .item-PXvHYJ:hover, .tabBar-2MuP6- .item-PXvHYJ[style*='color: rgb(255, 255, 255)'], .tabBar-2UKwcE .item-PXvHYJ:hover, .tabBar-2UKwcE .item-PXvHYJ[style*='color: rgb(255, 255, 255)'], .item-1TLUig:hover, .item-1TLUig.selected-P8xTeN, .tab-2Ixsn0.selected-16te-P, .tab-2Ixsn0:hover /* Tab bar (used in search for example) to change between states, hover effect thereof */, .checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span /* Checkbox Selectors */, .input-cIJ7To.focused-1mmYsC, .input-cIJ7To:focus /* Input Focus Changes */, .accountBtnInner-sj5jLs:hover /* Account Button (Connections Menu) */, .notificationSettings-1NQKPR .wrapper-3jrx9n /* Wrapper for the Notification Settings of the Overlay */, .card-3Qj_Yx[style*='border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218);'] .checkbox-1ix_J3 /* Main Checkbox in the Settings */, .checkbox-1ix_J3.round-2jCFai.checked-3_4uQ9 /* Language Select */, .select-2TCrqx:hover .css-15ejc46-control /* Multiselect */, .emojiPicker-3m1S-j .item-16cXuq.selected-39BZ4S /* Emoji Picker Selected Tab */, .checkbox-1ix_J3.checked-3_4uQ9 /* Add Friends Popout Checkmark */, .emoji-row .inputMini-2xQV9P:hover /* Input Emoji Rename */, .imageSelected-4Kl81J /* Screenshare Selected Window */, .regionSelect-3lf4eE:hover .regionSelectInner-24f4Ce, .regionSelect-3lf4eE:hover button /* Regional Select Border Fixes */, .regionSelectModalOption-2DSIZ3:hover /* Option on Regional Select Modal */, .uploadModal-2ifh8j .inner-3nWsbo, .uploadModal-2ifh8j .icon-kyxXVr /* Modal Inner & Modal Preview */, .uploadArea-3QgLtW div /* Change Color of Drop Modal Border */, .uploadDropModal-2kTwbc.error-kKl9o2 .inner-3nWsbo /* Border Fix for a failed UploadModal */, .overlappingBorder-3aFng4 /* Selected Carusel Item (Store - Overview) */, .overlappingBorder-1-XPGl /* Selected Carusel Item (Store - Game) */, .circleIconButton-jET_ig /* Add new Guild */, .dragPlaceholder-D9-haY /* Border for when Servers are dragged */, .containerUserOver-1U5YnL::after /* User Drag Area Voice */, .powercord-spotify-playlist:hover /* Spotify Modal Powercord Playlist On Hover */{
  border-color: var(--ColAccent)!important;
}

.dividerRed-MKoLlr span::before, .dividerRed-MKoLlr span::after /* Divider Red */{
  border-color: var(--ColDividerRed)!important;
}

.avatarUploaderInner-3UNxY3 /* Avatar Uploader Create Guild Container */, .regionSelect-3lf4eE .regionSelectInner-24f4Ce, .regionSelect-3lf4eE button /* Regional Select Border Fixes */{
  border-color: rgba(0,0,0,0.2);
}

.userLimit-64AFxe .total-3tKGEB::after /* User Limit Voice Channel */{
  border-right-color: var(--ColBackground1);
}

.guildsError-b7zR5H /* Guild with outage */{
  border-color: var(--ColFalse)!important;
}

.ace_gutter /* betterdiscord custom css editor */{
  border-top-left-radius: 15px;
}

.editor-wrapper #bd-customcss-editor /* BetterDiscord Custom CSS Editor */{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#bd-customcss-attach-controls /* BetterDiscord Custom CSS Editor */{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.base-3dtUhz /* Base */, .channelTextArea-rNsIhG .inner-zqa7da /* ChannelTextArea Inner Selector */{
  border-radius: 0;
}

.contextMenu-HLZMGh /* Right Click Context Menu */, .userPopout-3XzG_A /* User Popout */, .messagesPopoutWrap-1MQ1bW /* Pinned messages and Mentions */, .userSettingsAccount-2eMFVR > div:nth-child(2) /* User Settings Container */{
  border-radius: 3px!important;
}

.container-2Thooq button /* Settings Buttons User Container */{
  border-radius: 50%;
}

#bd-customcss-attach-controls .checkbox-inner span /* Border of Checkbox in Custom CSS Editor */{
  border-color: rgba(0,0,0,0.6);
}

.searchBar-2_Yu-C, .header-2o-2hj /* Search bar(s) for DM + Container in Servers for Server name */, .title-3qD0b- /* Channel Name Title */, .actionButtons-1sUUug, .action-buttons /* Action Buttons in the message Popouts and the search */, .search-result-message.hit /* The exact message that was searched for */, .isLocalBot-38G0P0 /* Clyde Message / Local Bot */, .message-2qRu38 /* Delete and Pin Notif Pin Layer */, #help-query /* Input of F1 Menu */, .inner-1JeGVc .modal-3HD5ck .tiles-2aXG_k /* Screensharing All Boxes */, .unreadMentionsBar-1VrBNe /* Removes shadow below Discord logo */, .unread-1s3J68 .bar-30k2ka /* Remove shadow below channelswrapper box top */, .everyonePopout-nEbJY3 /* Popup that appears when mentioning everyone */, .input-autosize:hover .input-autosize-input /* Group DM Name Container */, .footer-2yfCgX /* Footer Create Server */, #bda-qem button /* BD-Emoji Picker */, .searchResultMessage-2VxO12 /* Search Result Message */, .hasMore-sul95G button:hover, .hasMore-3e72_v button:hover /* Button when bottom of mention popout/top of chat is reached, hovered */, .valueUnchecked-2lU_20 /* Unchecked Value Settings */, .searchBar-6Kv8R2 /* Search Bar Private Channels */, .container-3ayLPN /* Search Popout */{
  box-shadow: none!important;
}

.keybindShortcut-1BD6Z1 span /* Keybind */{
  box-shadow: inset 0 -4px 0 rgba(0,0,0,0.4)!important;
}

.powercord-toast{
  box-shadow: 5px 6px 17px rgba(0, 0, 0, 0.2);
}

.callAvatarBorder-1D_KaE.video-3GgX2M.selected-2esnyn /* Selected Video when screensharing/videochatting */{
  box-shadow: inset 0 0 0 2px var(--ColFalse)!important;
}

.callAvatarBorder-1D_KaE.speaking-oCqYMI, .avatarSpeaking-1wJCNq, .avatarSpeaking-3MqCHL /* Color for voice activity */{
  box-shadow: inset 0 0 0 2px var(--ColAccent)!important;
}

.result-3w1ZcL:hover:after /* GIF Selector Result Hover effect */{
  box-shadow: inset 0 0 0 2px var(--ColAccent), inset 0 0 0 3px #2f3136!important;
}

.card-3Qj_Yx[style*='border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218);'] .checkbox-1ix_J3 polyline /* Settings Checkboxes Color Override */, .checkbox-1ix_J3.round-2jCFai.checked-3_4uQ9 polyline /* Language Select */, .checkbox-1ix_J3.checked-3_4uQ9 polyline /* Add Friends Popout Checkmark */, .spinner-2enMB9 .path-92Hmty /* Spinner Element */, .filterAndSort-gLX1Ym > div .arrow-2KJjTM path /* Select Label Filter Arrow Store Page */, .wrapper-1u09nF[role='progressbar'] .foreground-2aE44H, .checkmarkIcon-2EnYwn polyline /* Checkmark Icon Store Page */, .planFeatureIcon-2IPRYs polyline /* Lightro Checkmark */, .circleProgress-1EBmVn /* Download Icon Library Progress */{
  stroke: var(--ColAccent);
}

.svg-3yO_hc .background-yZEZik /* Game Library % of space left background */{
  stroke: rgba(0,0,0,0.2);
}

.item-26Dhrx .checkbox-1ix_J3.checked-3_4uQ9 polyline /* Settings Multi-Select Checkbox */{
  stroke: rgba(255,255,255,0.2);
}

.circleBackground-OqqxHM /* Download Icon Library */{
  stroke: transparent;
}

/*

Color & Text - Align

*/

.hasMore-sul95G button, .hasMore-3e72_v button /* Button when bottom of mention popout/top of chat is reached */, .searchAnswer-3Dz2-q /* What the filter searches for */, .menu-Sp6bN1 .item-1GzJrl:hover, .container-3ayLPN .option-96V44q.selected-rZcOL- span:nth-of-type(2), .container-3ayLPN .option-96V44q.selected-rZcOL- strong, .container-3cGP6G .item-2J1YMK:hover, .item-1Yvehc:not(.disabled-2xniQf):hover /* Menu hover effects */, .tabBar-2MuP6- .item-PXvHYJ:hover, .tabBar-2MuP6- .item-PXvHYJ[style*='color: rgb(255, 255, 255)'], .tabBar-2UKwcE .item-PXvHYJ:hover, .tabBar-2UKwcE .item-PXvHYJ[style*='color: rgb(255, 255, 255)'], .item-1TLUig:hover, .item-1TLUig.selected-P8xTeN, .tab-2Ixsn0.selected-16te-P, .tab-2Ixsn0:hover /* Tab bar (used in search for example) to change between states, hover effect thereof */, .dividerRed-MKoLlr span /* Divider 'Red' Fixes */, .select-2TCrqx .css-12o7ek3-option /* Multiselect Selected Value */, .container-3gCOGc .item-PXvHYJ.selected-3s45Ha /* Top bar Action Button Select */, .welcomeMessage-3_Mcht h1 /* Welcome Message */, .reactionMe-23mbRf .reactionCount-2ddRoS /* tfw you react */, .mention:not([style*='color']), .wrapper-3WhCwL:not([style*='color']) /* Mentioned when not some role color is defined */, .animator-US5i9g .create-3jownz .actionHeader-2CT5c7, .animator-US5i9g .header-3ZP1MY, .animator-US5i9g .sampleLink-KPFu3I, .animator-US5i9g .title-2Dc-Cb /* Text Create Guild */, .regionSelect-3lf4eE button /* Regional Select Button Fixes */, .regionSelectModalHeader-21khC1 /* Header for Regional Select Modal */, .regionSelectModalOption-2DSIZ3 .regionSelectName-2-2FWh /* Option on Regional Select Modal Text */, .container-2td-dC:hover .wrapper-2lTRaf .icon-3o6xvg /* No Image Guild Hover */, .container-2td-dC.selected-nT-gM3 .wrapper-2lTRaf .icon-3o6xvg /* No Image Server Selected */, .lookLink-9FtZy-.colorBrand-3pXr91:hover .contents-18-Yxp /* Link Button */, .announcingNitro-3Ptg6m /* Announcing Nitro Store */, .message-15tBk4 strong /* Sync Permission Dialog - Channel Names */, .filterAndSort-gLX1Ym > div .selectLabel-2ltwlE /* Select Label Filters Store Page */, #pubslayer .ui-tab-bar-header a /* Discordservers.com Text Pub Servers */, .premiumHeaderPrice-1F1CMD /* Premium Header Pricing Game Page */, .quickSelectPopoutOption-opKBx9:hover .regionSelectName-c5qL8O /* Region Select DM call hover */, .ace_cursor /* bd editor cursor */,.circleIconButton-jET_ig .plus-3UqSQu /* Guild Add Inner */, .price-1rEl-z /* Gift Nitro Menu Price */, .pro-1T8RK7 /* 'PRO'-Tip */, .acronym-2mOFsV:hover /* Guild without image */{
  color: var(--ColAccent)!important;
}

.dividerRed-MKoLlr span /* Divider Red */{
  color: var(--ColDividerRed)!important;
}

.anchor-3Z-8Bb:not(.reviewCircle-1o-MOB):not(.revenueShareUpsellButton-1Y1wut):not(.iconWrapper-21idzA):not(.guildsError-b7zR5H), .revenueShareUpsellButton-1Y1wut:hover, .anchor-3Z-8Bb.embedTitleLink-1Zla9e, #bd-settings-sidebar a, .filenameLinkWrapper-1-14c5, .genre-1Fi2SE /* <a> fixes */, .endText-3SrwuD a /* Go back to top - GIF Selector */, .error-link /* Error Link BetterDiscord Modal */, .bda-link /* Plugin Website/Source Link */{
  color: var(--ColAnchor)!important;
}

.divider-3gKybi:not(.dividerRed-MKoLlr) span /* Color Fixes of the Divider */{
  color: #dcddde!important;
}

.button-38aScr /* Buttons */, .container-3gCOGc .item-PXvHYJ.primary-3j8BhM.selected-3s45Ha /* Top bar Action Button Select */, #help-query /* Input of F1 Menu */, .header-2bNvm4 h3, .header-2bNvm4 input /* Add Role Popout Header */, .animator-US5i9g input /* Create Guild Input */, .regionSelect-3lf4eE:hover button /* Regional Select Button Fixes */, .uploadModal-2ifh8j .button-primary /* Upload Modal Button Upload */, .botTagInvert-18-95s /* User Popout & User Modal Bot Tag */, .channelTextAreaUpload-3t7EIx .autocompleteRow-2OthDa .content-Qb0rXO > div:not(.flexChild-faoVW3) /* Color of Autocomplete Field Upload Modal */, .standardSidebarView-3F1I7i #editor-detached h3 /* BetterDiscord Custom CSS Editor Detached Text */, .noticeDanger-7u-yT9 .button-1MICoQ /* Help Button on 'no mic' notice */, .note-3kmerW textarea::-webkit-input-placeholder /* Note Popout Menu Focus */, #bda-qem button /* BD-Emoji Picker */, .formatSelectors-3aBz_F select /* Select GIF Picker */,.coloredBackground-37Z6Gv .button-38aScr .whiteButton-1lwF-y /* Button Colored Game Activity Feed */{
  color: white!important;
}

.noticeDanger-7u-yT9 .button-1MICoQ:hover /* Help Button on 'no mic' notice */{
  color: #f44336!important;
}

.item-1Yvehc.danger-2dXSTE:hover /* Red Item in Context Menues */, .animator-US5i9g .join-33Tr-7 .actionHeader-2CT5c7, .animator-US5i9g .title-2CFvp_ /* Second Header Create Guild Container */, .react-datepicker__day /* Datepicker - Out of month */{
  color: var(--ColTrue)!important;
}

.guildsError-b7zR5H /* Guild with outage */, .react-datepicker__day--disabled /* Datepicker - Out of range */{
  color: var(--ColFalse)!important;
}

#bd-customcss-attach-controls /* Button for detaching controls for BD Custom CSS section */{
  text-align: center;
}

/*

Display, Opacity & Visibility

*/

.clickOverride-1J40_l /* makes pinned objects interactable */, .jumpToPresentBar-9P20AM button:nth-child(2) /* Second Button of the Jump To Present Bar */, .newMessagesBar-mujexs button:nth-child(2), .searchResult-3pzFAB:before, .searchResult-3pzFAB::after /* Removing the weirdest ever box shadows, all from the search results*/, .attachButtonDivider-3Glu60 /* Divider between Upload Button and Textarea */, .overflowRolesPopoutArrow-2O66oH /* Members Settings, too many roles overflow menu Arrow - I HAVE NO IDEA WHAT THIS IS FOR: https://imgur.com/a/eoQHEc1 */, .animator-US5i9g .actionIcon-2IISM_, .animator-US5i9g .or-3THJsp /* Create Guild Container Objects */, #bd-customcss-attach-controls #bd-customcss-detach-controls-button span /* Changes will be lost span BetterDiscord Custom CSS Editor */, .auditLog-3jNbM6 .divider-1pnAR2 /* Audit Log Entry and Details Divider */, .ace_tooltip /* bd editor tooltip */, .children-19S4PO::after /* Forgotten Element :c */, .disableInteraction-_YeVcv /* message overlay when delete/pin message */{
  display: none;
}

.embedPill-1Zntps /* Display the Embed Pill or not */{
  display: var(--DisplayEmbedPill);
}

.messageGroupBlocked-3wrQQX, .messageGroupBlocked-3wrQQX + .divider-3gKybi /* Hides Blocked User Messages */{
  display: var(--DisplayBlockedUserMessage);
}

.emojiButton-3uL3Aw{
  display: var(--DisplayButtonEmoji);
}

.textArea-2Spzkt + .buttons-205you > .buttonWrapper-1ZmCpA{
  display: var(--DisplayButtonGift);
}

.textArea-2Spzkt + .buttons-205you > .buttonContainer-21MN7J{
  display: var(--DisplayButtonGIF);
}

.ace_gutter-cell.ace_info, .ace_gutter-cell.ace_warning, .ace_gutter-cell.ace_error /* bd editor errors/warnings */{
  background-image: none!important;
}

.channelTextArea-1LDbYG .inner-zqa7da button /* Upload Button and Emoji Button - Main Text Area */, .header-2o-2hj .button-1w5pas, .banner-1TiK82 .dropdown-33sEFX /* server options arrow */, .container-2Thooq button:not([aria-label='Unmute']):not([aria-label='Undeafen']) /* mute/deafen/settings buttons */, .containerDefault-3GGEv_ button /* create channel in catagory button */{
  opacity: 0;
}

.container-2Thooq:hover button /* mute/deafen/settings buttons */{
  opacity: 0.6;
}

.categoryFadeBlurple-1j72_A /* Favorites GIF Selector */{
  opacity: 0.8;
}

.channelTextArea-1LDbYG .inner-zqa7da:hover button /* Upload Button and Emoji Button - Main Text Area Hover effect */, .header-2o-2hj:hover .button-1w5pas /* server options hover */, .button-1w5pas.open-1Te94t /* server options hover */, .container-2Thooq:hover button /* mute/deafen/settings buttons */, .containerDefault-3GGEv_ button /* create channel in catagory button */{
  opacity: 1!important;
}

/*

Margin & Padding
Width & Height

*/

.channelTextArea-1LDbYG /* Main Channel Text Area - Main Chat Window */, .chat-3bRxxu form /* Main Form Element in the main chat window */, .friendsTable-133bsv /* Friends Table */,.coloredBackground-37Z6Gv .button-38aScr /* Button Colored Game Activity Feed */{
  margin: 0;
  padding: 0!important;
}

.animator-US5i9g .actions-pBaxX6 .action-1lSjCi{
  margin-top: 5%;
}

.animator-US5i9g .actions-pBaxX6 .action-1lSjCi:first-child{
  margin-left: -20px;
  margin-right: 20px;
}

.animator-US5i9g .actions-pBaxX6 .action-1lSjCi:nth-child(2){
  margin-left: 20px;
  margin-right: -20px;
}

#bd-customcss-attach-controls{
  margin-top: -1px;
}

#autocomplete-popout header h3{
  margin: 0 2px 0 30px;
}

#autocomplete-popout header input{
  margin: 0 30px 0 0;
  width: 170px;
}

.container-2Thooq /* User Container Channel Bar */{
  margin: 0;
}

.avatar-17mtNa /* Avatar Fix in the Search */{
  margin: 0 20px 20px;
}

.container-1YxwTf:last-of-type /* Last Message Group has bottom Margin */{
  margin-bottom: 25px;
}

.channelTextArea-1LDbYG .attachButton-1UjEWA /* Upload Button Channel Text Area */{
  padding-right: 0;
}

.messageEditorCompact-2PSR3v /* Message Editor */{
  padding-right: 1%;
}

.search-results-wrap .search-results{
  padding-bottom: 64px;
}

.ace_gutter-cell{
  padding-left: 0.5em!important;
  padding-right: 1em!important;
}

.chat-3bRxxu form .inner-zqa7da .textArea-2Spzkt /* Main Textarea - Main Chat Window */{
  padding: 14px 38px 10px 10px;
}

.pickerButtons-v-PPYK button /* Buttons in Textfield */{
  margin-top: 4px;
}

.uploadModal-2ifh8j .emojiButton-3uL3Aw /* Emoji Button Fix Upload Modal */{
  margin-top: 0;
}

.uploadModal-2ifh8j .channelTextArea-1LDbYG .inner-zqa7da /* Channel Text Area fix in Upload Modal */{
  margin-top: 3%;
}

.uploadModal-2ifh8j .button /* Upload Modal Buttons */{
  margin-left: 2%;
}

.messagesPopoutWrap-1MQ1bW /* Mentions and Pin Popout */{
  width: 550px;
}

.applicationStore-1pNvnv .splash-3K76bN /* Video Element when Application is hovered */{
  height: 100%;
}

.applicationStore-1pNvnv .tileMedia-2POU7V /* Giant Media Tile */{
  height: 340px;
}

.channelTextArea-1LDbYG /* Main Channel Text Area - Main Chat Window */, .chat-3bRxxu form .inner-zqa7da /* Inner Box Main Chat Window */{
  min-height: 52px;
}

.bannerImage-1jOskm /* Move Banner Image out of Server Header */{
  top: 48px;
}

/* 

Masks

*/

.maskProfile-1ObLFT{
  -webkit-mask: url('https://customa.gitlab.io/Customa-Misc/Discord/Masks/maskUserModal.svg')!important;
  mask: url('https://customa.gitlab.io/Customa-Misc/Discord/Masks/maskUserModal.svg')!important;
}

.mask-3OgeRz{
  -webkit-mask: url('https://customa.gitlab.io/Customa-Misc/Discord/Masks/maskmemWrap.svg')!important;
  mask: url('https://customa.gitlab.io/Customa-Misc/Discord/Masks/maskmemWrap.svg')!important;
}

/*

Cursor

*/

/* .channelName-3stJzi{
    cursor: pointer;
} */

/*

Z-Index

*/

.paginationContainer-1b6TFc{
  z-index: 100;
}

/*

Transitions

*/

.tabBar-2MuP6- .item-PXvHYJ, .tabBar-2MuP6- .item-PXvHYJ, .item-1TLUig, .tabBar-2UKwcE .itemDefault-3Jdr52, .tab-2Ixsn0 /* Tab bar (used in search for example) to change between states, hover effect thereof */, .menu-Sp6bN1 .item-1GzJrl:hover, .container-3ayLPN .option-96V44q.selected-rZcOL- span:nth-of-type(2), .container-3ayLPN .option-96V44q.selected-rZcOL- strong, .container-3cGP6G .item-2J1YMK:hover, .item-1Yvehc /* Menu hover effects */, .container-2td-dC:hover .wrapper-2lTRaf .icon-3o6xvg /* No Image Server Hover */, .lookLink-9FtZy-.colorBrand-3pXr91 .contents-18-Yxp /* Link Button */, .quickSelectPopoutOption-opKBx9 .regionSelectName-c5qL8O /* Region Select DM call text */{
  transition: color 400ms;
}

.tabBar-2MuP6- .item-PXvHYJ, .tabBar-2MuP6- .item-PXvHYJ, .emoji-row .inputMini-2xQV9P:hover /* Input Emoji Rename */, .regionSelectModalOption-2DSIZ3 /* Option on Regional Select Modal */,  .powercord-spotify-playlist:hover /* Spotify Modal Powercord Playlist On Hover */{
  transition: border-color 400ms;
}

.emoji-row .inputMini-2xQV9P /* Input Emoji Rename */, .buttonDisconnect-3W_SJc:hover /* Button to disconnect voice */, .buttonInfo-3nkbOt:hover /* Info Button when in voice */, .hasMore-sul95G button, .hasMore-3e72_v button /* Button when bottom of mention popout/top of chat is reached */, .container-35JN_A:hover /* Card Activity Feed */,.player-3zB-0D /* Player Game Menu Activity Feed */{
  transition: background-color 200ms;
}

.container-2Thooq button /* mute/deafen/settings buttons */{
  transition: opacity 0.2s, background-color 0.2s;
}

.containerDefault-3GGEv_ button /* create channel in catagory button */{
  transition: opacity 0.2s;
}

.channelTextArea-1LDbYG .inner-zqa7da button /* Upload Button and Emoji Button - Main Text Area */{
  transition: opacity 400ms 200ms;
}

.button-1w5pas{
  transition: transform 200ms ease, opacity 200ms!important;
}

.channelTextArea-1LDbYG .inner-zqa7da > .flex-1xMQg5 /* Container of Upload Button */{
  transition: width 200ms 400ms;
}

.channelTextArea-1LDbYG .inner-zqa7da:hover > .flex-1xMQg5 /* Container of Upload Button - Reverse Transition */{
  transition: width 200ms;
}

.closeButton-1tv5uR, .btn-close,  .bda-slist .settings-open div[style*='float'], .channelNotices-41mJbj .close-relY5R /* Server Hover */{
  transition: transform 200ms;
}

/*

Custom Bars

*/

.typing-2GQL18 /* Typing Indicator */{
  bottom: 115%;
  left: auto;
  padding-left: 20px;
  width: auto;
  padding-right: 20px;
  padding-top: 0;
  border-radius: 20px;
  margin-left: 10px;
  overflow-y: visible!important;
  z-index: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}

.jumpToPresentBar-9P20AM /* 'You are viewing old messages' Indicator */{
  width: fit-content!important;
  position: absolute!important;
  border-radius: 20px!important;
  right: 10px!important;
  left: auto!important;
  top: 1%!important;
  bottom: auto;
}

.newMessagesBar-mujexs /* New Messages Indicator */{
  width: fit-content!important;
  border-radius: 20px!important;
  position: absolute!important;
  top: 1%!important;
  bottom: auto!important;
}

/*

Upload Button Tweeks

*/

.channelTextArea-1LDbYG .inner-zqa7da > .flex-1xMQg5 /* Container of Upload Button */{
  width: 0;
}

.channelTextArea-1LDbYG .inner-zqa7da:hover > .flex-1xMQg5 /* Container of Upload  Button hover effect */{
  width: 35px;
}

.channelTextArea-1LDbYG .attachButtonInner-1iyZ9F svg /* Upload Button */{
  padding: 0;
  background: url('https://customa.gitlab.io/Customa-Misc/Discord/SVGs/upload.svg') 50% no-repeat;
}

.channelTextArea-1LDbYG .attachButtonInner-1iyZ9F svg path /* Reset old Upload Button */{
  fill: transparent!important;
}

/*

Settings Fixes + Self Promo

*/

.side-8zPYf6 .separator-gCa7yv {
    height: 1.33px;
}

.socialLinks-3jqNFy::before {
    content: '';
    border: 4px solid #adadad;
    border-radius: 50%;
    border-top: 4px solid transparent;
    white-space: pre;
    width: 8px;
    height: 8px;
    display: inline-block;
    position: relative;
    margin-left: 2px;
    margin-right: 15px;
    transform: rotate(45deg);
}

/*

Close Button Animation

*/

.closeButton-1tv5uR:hover, .btn-close:hover /* Close Button */{
  transform: scale(2);
}

.bda-slist .settings-open div[style*='float']:hover, .channelNotices-41mJbj .close-relY5R:hover /* Close Button Channel Notices and BetterDiscord Settings */{
  transform: scale(1.4);
}

/*

Fix for broken Create Guild Container

*/

.animator-US5i9g .action-1lSjCi /* Action Blocks - Now Round */{
  border-radius: 100%;
  height: 228px;
  margin-top: 5%;
}

.animator-US5i9g .actionBody-1qj65C /* Seperate Buttons from Text because that shit broken as fuck - Create Guild Container */{
  margin-top: 20%!important;
}

.animator-US5i9g .actionButton-2PeQbJ /* Buttons in the Action Buttons */{
  margin-top: 20%!important;
  height: 60px;
}

/*

Upload Modal Image Upgrade

*/

.uploadModal-2ifh8j .file-34mY5K .image-2yrs5j{
  width: 200px!important;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  overflow: hidden;
  background-color: transparent;
  z-index: 1;
  position: relative;
}

.uploadModal-2ifh8j .file-34mY5K .image-2yrs5j::before{
  content: '';
  background-image: inherit;
  position: absolute;
  width: 200px;
  height: 100px;
  top: 2px;
  left: 2px;
  border-radius: 8px;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  z-index: 0;
  filter: blur(5px) brightness(50%);
  transform: scale(1.2);
}
.uploadModal-2ifh8j .file-34mY5K .image-2yrs5j::after{
  content: '';
  background-image: inherit;
  position: absolute;
  width: 200px;
  height: 100px;
  border-radius: 6px;
  z-index: 5;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

/*

Light Theme Warning

*/

.preview-2nSL_2 + .marginTop40-i-78cZ .radioGroup-1GBvlr > :first-child .checkboxWrapper-SkhIWG, .preview-2nSL_2 + .marginTop40-i-78cZ .radioGroup-1GBvlr > :first-child .info-3LOr12 /* Remove Checkbox and Text from white-theme button */{
  visibility: hidden;
}

.preview-2nSL_2 + .marginTop40-i-78cZ .radioGroup-1GBvlr > :first-child /* White Theme Button */{
  background-color: var(--ColFalse)!important;
  pointer-events: none!important;
}

.preview-2nSL_2 + .marginTop40-i-78cZ .radioGroup-1GBvlr > :first-child .info-3LOr12::before /* New Info for White Theme Button */{
  visibility: visible!important;
  content: 'Import the White Theme Module for Support';
  position: absolute!important;
  top: 15px;
  left: 12px;
}

/*

Fix Voice Activity Indicator Text

*/

.inputSensitivityToggle-2LKb8o:not(.manual-36Evg9) > :last-child{
  height: 0;
  visibility: hidden;
}

.inputSensitivityToggle-2LKb8o:not(.manual-36Evg9) > :last-child::after{
  content: 'If the indicator is solid customa then Discord is transmitting your beautiful voice.';
  display: block;
  position: relative;
  top: -2em;
  visibility: visible;
}

/*

Emoji Combiner

*/

.emoji /* Emoji Selector */{
  margin: 0!important;
}

/*

Scrollbars

*/

::-webkit-scrollbar{
  width: 5px!important;
  height: 3px!important;
  display: block;
}

::-webkit-scrollbar-track-piece{
  background-color: rgba(0,0,0,0)!important;
  border: none!important;
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track{
  border: none!important;
}

::-webkit-scrollbar-thumb{
  background-color: rgba(0,0,0,0.6)!important;
}

/*  

No Internet Container

*/

.container-16j22k .content-1-zrf2::after{
  margin-top: 5%;
  content: 'Want to remove this overlay? Set the variable:\A --DisplayNoConnectionBackdraw to none';
  padding: 10px;
  display: block;
  width: 550px;
  line-height: 16px;
  color: white;
  font-weight: 400;
  border-radius: 5px;
  white-space: pre-line;
  background-color: var(--ColAccent);
  opacity: 0.8;
}

.container-16j22k{
  display: var(--DisplayNoConnectionBackdraw);
}

/* 

Search Result - Next Page Container 

*/

.searchResultsWrap-2DKFzt .scrollerWrap-2lJEkd{
  padding-bottom: 64px;
}

.pagination-eQpqgk{
  width: 418px;
  margin: 0!important;
  padding-bottom: 24px;
  padding-top: 20px;
  background: var(--ColBackground1);
  position: fixed;
  bottom: 0;
  z-index: 100;
}

/*

Add Role Button

*/

aside .header-2RyJ0Y{
  display: block!important;
}

aside .header-2RyJ0Y .addRoleIcon-3YjErH{
  position: fixed;
  margin-left: 140px;
}

/*

Add bottom bar to get uniform look

*/

.activityFeed-28jde9 > div > .scrollerWrap-2lJEkd, .gameLibrary-TTDw4Y > .scrollerWrap-2lJEkd, .container-3gCOGc, .noChannel-Z1DQK7, .applicationStore-1pNvnv, .activityFeed-1C0EmJ, .gatedContent-3-B7qB /* NSFW Channel Warning */{
  padding-bottom: 52px!important;
}

.root-26DmKJ, .root-1BQpZw{
  margin-bottom: 52px!important;
  padding-bottom: 20px;
  overflow: hidden;
}

.activityFeed-28jde9 > div > .scrollerWrap-2lJEkd::after, .gameLibrary-TTDw4Y > .scrollerWrap-2lJEkd::after, .container-3gCOGc::after, .noChannel-Z1DQK7::after, .applicationStore-1pNvnv::after, .activityFeed-1C0EmJ::after, .gatedContent-3-B7qB::after /* NSFW Channel Warning */{
  display: block;
  content: '  ';
  background-color: var(--ColBackground1);
  width: 100%;
  height: 52px;
  position: absolute;
  bottom: 0;
}

/*

Premium Banner

*/

.premium-39U29H::before{
  background-image: url('https://customa.gitlab.io/Customa-Misc/Discord/SVGs/BlogEntry.svg');
}

/*

User Information - Long Name Fixes

*/

.container-2Thooq .username, .container-2Thooq .accountDetails-3k9g4n{
  text-overflow: unset;
  width: fit-content!important;
  max-width: unset;
  min-width: fit-content;
  transition: 200ms width;
}

.container-2Thooq:hover .username, .container-2Thooq:hover .accountDetails-3k9g4n{
  text-overflow: ellipsis;
  width: 84px!important;
  max-width: 84px!important;
  min-width: 0;
}

.powercord-spotify .powercord-spotify-songInfo{
  text-overflow: ellipsis;
  width: 100%;
  min-width: 170px;
}

.powercord-spotify > div > button{
  display: none;
}

.powercord-spotify:hover > div > button{
  display: inline-block;
}

.powercord-spotify:hover .powercord-spotify-songInfo{
  width: 84px;
  max-width: 84px;
  min-width: 0;
}

.powercord-spotify .powercord-spotify-songInfo .username{
  text-overflow: ellipsis;
  min-width: 170px;
}

.powercord-spotify:hover .powercord-spotify-songInfo .username{
  max-width: 84px;
  min-width: 84px;
}

/*

Add Guild Inner Font Fixes

*/

.circleIconButton-jET_ig .plus-3UqSQu{
  top: -2px;
}

/* 

Server Discovery 

*/

.wrapper-39oAo3{
  margin-bottom: 12px;
  background-color: var(--ColBackground1)!important;
}

.pageWrapper-1PgVDX{
  background-color: var(--ColBackground2)!important;
}

.pageWrapper-1PgVDX .bg-AYqtMd{
  display: none;
}

/*

fix verified server custom banner image

*/

.bannerImage-1jOskm::after{
  height: 100%;
  background-color: transparent;
  background: linear-gradient(transparent, var(--ColBackground2));
  filter: none;
}

/* 

Video Call Fixes

*/
.titleCall-_b9o8P, .noChat-2qlG4B.videoHeight-Qp_9vC{
  position: absolute;
  top: 0;
  width: 100%;
}

.noChat-2qlG4B.videoHeight-Qp_9vC .videoBottom-2_HYXG{
  position: absolute;
  bottom: 22px;
  width: 100%;
  height: 52px;
}

.videoBottom-2_HYXG .actions-2vadYq{
  padding: 0.7%;
}

/* 

Settings UI Overhaul

*/

.slider-1PF9SW .grabber-3mFHz2{
  border-radius: 50%;
  height: 16px;
  width: 16px;
  margin-top: -8px;
  margin-left: -8px;
  border: none;
  box-shadow: none;
}

.itemSlider-FZeYw0 .grabber-3mFHz2{
  margin-top: 0;
}

.role-2irmRk {
  overflow: hidden;
}

.role-2irmRk .roleCircle-3xAZ1j{
  margin-left: -4px;
  margin-right: 8px;
  width: 20px;
  height: 22px;
  border-radius: 0;
}

.addButton-pcyyf6, .overflowButton-1SCpCf{
  border-color: var(--ColAccent)!important;
  color: var(--ColAccent)!important;
  background-color: rgba(0,0,0,0.2)!important;
}

.textAreaEdit-bNLDk3{
  max-height: unset!important;
}

/* 

Space out Link Button in DMs 

*/

.channel-2QD9_O:not([style="height: 42px; opacity: 1;"]) {
  display: inline-block;
  margin: 0 4px;
  width: calc(25% - 8px);
}

.privateChannels-1nO12o .channel-2QD9_O:not([style="height: 42px; opacity: 1;"]) a {
  padding: 8px 0;
  margin: 0;
  height: 100%;
  flex-direction: column;
}

.channel-2QD9_O:not([style="height: 42px; opacity: 1;"]) a .name-2WpE7M {
  font-size: 12px;
  padding: 0;
  width: 100%;
  text-align: center;
}

.channel-2QD9_O:not([style="height: 42px; opacity: 1;"]) a svg {
  margin: 0;
}

.channel-2QD9_O{
  overflow: visible;
}

.channel-2QD9_O .downloadProgressCircle-3_wgim{
  position: absolute;
  opacity: 1;
  right: -5px;
  bottom: -5px;
}

/* User Account Security */

.userInfoViewing-16kqK3 .flexChild-faoVW3 > div:nth-child(2) .viewBody-2Qz-jg.selectable-x8iAUj,
.selectClosed-2un0PJ .paymentSourceLabel-1lo4Ca,
.paymentSourceRow-3FbcL_ .descriptionWrapper-1YBY_J {
  filter: var(--FilterAccountSecurity);
  transition: 150ms;
}

.userInfoViewing-16kqK3 .flexChild-faoVW3 > div:nth-child(2) .viewBody-2Qz-jg.selectable-x8iAUj:hover,
.selectClosed-2un0PJ .paymentSourceLabel-1lo4Ca:hover,
.paymentSourceRow-3FbcL_ .descriptionWrapper-1YBY_J:hover {
  filter: none;
}

/* Longer Activity Text Scroll */

.activityUserPopout-2yItg2 .content-3JfFJh > div:hover {
  overflow: visible;
  animation-delay: .6s;
  animation-iteration-count: infinite;
  animation-name: scrollingText;
  animation-timing-function: ease-out;
  animation-duration: 10s
}

@keyframes scrollingText {
  0%, 5%, 95%, 100% {
    transform: translateX(0);
  }
  45%, 55% {
    transform: translateX(calc(-100% + 84px));
  }
}
