@import url("https://customa.gitlab.io/Customa-Discord/Base/selection.m.css");

:root{   
    --INTModFont: '    \2022  Fonts ~ Customa Devs (Base \2192  font.m.css)\A'!important;
    --INTVarFont: '\A\A Font - Module \A \2022  --FontFamily \2192  Allowed Values: Installed Fonts/Webfonts (pref. Sans-Serif)\A \2022  --FontMonoFamily \2192  Allowed Values: Installed Fonts/Webfonts (pref. Monospace)'!important;
    --FontFamily: 'Lato', sans-serif /* Normal Font */!important;
    --FontMonoFamily: 'Fira Code', 'Fira Mono', monospace /* Monospace Font */;
}

/* Set all Fonts to the defined one */
*:not(.fas){
    font-family: var(--FontFamily)!important;
    font-variant: normal!important;
}

/* set font for message box */
::-webkit-input-placeholder{
    font-family: var(--FontFamily);
}

.fileNameLink-9GuxCo /* File name for File Uploads */{
    font-size: 15px!important;
}

code.inline /* Inline Code Block */, .ace_editor * /* Settings Code Editor */, .message-1PNnaP textarea.textAreaEdit-bNLDk3 /* Edit Text Area */, pre code.hljs div *, pre code.hljs div, .content-3dzVd8 .markup-2BOw-j pre code.hljs *, .content-3dzVd8 .markup-2BOw-j pre code.hljs /* Codeblocks */{
    font-family: var(--FontMonoFamily)!important;
}