:root {
    --INTModRound: '    \2022  Round ~ Customa Devs (Base \2192  round.m.css)\A'!important;
    --INTVarRound: '\A\A Round - Module\A \2022  --SizeCornerRadius \2192  Allowed Values: Size (pref. 0.75em) \A \2022  --SizeSpotifyRadius \2192  Allowed Values: Size (pref. 26px)'!important;
	--SizeCornerRadius: 0.75em;
	--SizeSpotifyRadius: 26px;
}

/* Top Left Corner */

.channels-Ie2l6A .firefoxFixScrollFlex-cnI2ix .firefoxFixScrollFlex-cnI2ix::before {
	content: "";
	width: calc(var(--SizeCornerRadius) * 2);
	height: var(--SizeCornerRadius);
	background: transparent;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: var(--SizeCornerRadius) 0 0 0;
	box-shadow: calc(0px - var(--SizeCornerRadius)) 0 0 var(--ColBackground1);
}

/* Bottom Left Corner + Fixes for when calling */

.channels-Ie2l6A .firefoxFixScrollFlex-cnI2ix .firefoxFixScrollFlex-cnI2ix::after, .container-1UB9sr::after, .powercord-spotify::after {
	content: "";
	width: calc(var(--SizeCornerRadius) * 2);
	height: var(--SizeCornerRadius);
	background: transparent;
	display: block;
	position: absolute;
	bottom: 0;
	border-radius: 0 0 0 var(--SizeCornerRadius);
	box-shadow: calc(0px - var(--SizeCornerRadius)) 0 0 var(--ColBackground1);
}

.container-1UB9sr{
	position: relative;
}

.container-1UB9sr::after, .channels-Ie2l6A .firefoxFixScrollFlex-cnI2ix .firefoxFixScrollFlex-cnI2ix::after {
	left: 0;
}

.container-1UB9sr::before{
	content: "";
	width: 240px!important;
	height: var(--SizeCornerRadius);
	position: absolute;
	left: 0;
	top: calc(var(--SizeCornerRadius) * -1);
	background-color: var(--ColBackground2);
}

/* Fix for Top Right + Bottom Right Corners */

.listeningAlong-2UPsxf.alignCenter-1dQNNs{
	background-color: var(--ColBackground1)!important;
}

/* Fix for Listening Along Spotify - Puts it on the last spot */

.listeningAlong-2UPsxf.alignCenter-1dQNNs{
	order: 1;
}

.container-2Thooq:last-child{
	order: 2;
}

/* Top Right Corner + Bottom Right Corner + Bottom Left Corner */

.messagesWrapper-3lZDfY{
	background-color: var(--ColBackground2);
	border-top-right-radius: var(--SizeCornerRadius);
	border-bottom-right-radius: var(--SizeCornerRadius);
}

.powercord-spotify::after{
	right: calc(var(--SizeCornerRadius) * (-2));
	z-index: 9999!important;
}

.listeningAlong-2UPsxf + .powercord-spotify::after{
	bottom: -32px;
}

.powercord-spotify{
	z-index: 10000!important;
}

/* Round Spotify Modal (Powercord) */

.powercord-spotify {
	border-top-right-radius: var(--SizeSpotifyRadius);
}
