:root{
    --INTModVariables: '    \2022  Variables ~ Customa Devs (Base \2192  variables.m.css)\A'!important;

    /* Base */
    --INTVarBase: '';
    --INTVarFont: '';
    --INTVarLightThemeSupport: '';
    --INTVarRound: '';
    --INTVarSelection:'';
    --INTVarTooltips: '';

    /* Chat */
    --INTVarCustomEditIcon: '';
    --INTVarCustomEditText: '';

    /* Emoji */
    --INTVarJumboMoji: '';

    /* Misc */
    --INTVarRainbow: '';
    --INTVarCustomSettingsModal: '';

    /* Sidebar */
    --INTVarColoredChannelIcon: '';
    --INTVarGuildCircles: '';
    --INTVarTwoRowGuilds: '';
    --INTVarWrapperChannel: '';
    --INTVarWrapperGuild: '';
    --INTVarWrapperMember: '';

    /* Titlebar */
    --INTVarCakeOSTitlebar: '';
    --INTVarCustomWordmark: '';

    /* Webkit */
    --INTVarCustomPlaceholder: '';
}

#bd-customcss-attach-controls /* BetterDiscord Custom CSS Editor */{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#bd-customcss-attach-controls::after, .powercord-account::after{
    white-space: pre-line;
    display: block;
    content: 'Customa-Variables\A\A'
    'BASE'
    var(--INTVarBase)
    var(--INTVarFont)
    var(--INTVarLightThemeSupport)
    var(--INTVarRound)
    var(--INTVarSelection)
    var(--INTVarTooltips)'\A\A\A'
    'CHAT'
    var(--INTVarCustomEditIcon)
    var(--INTVarCustomEditText)'\A\A\A'
    'EMOJI'
    var(--INTVarJumboMoji)'\A\A\A'
    'MISC'
    var(--INTVarCustomSettingsModal)
    var(--INTVarRainbow)'\A\A\A'
    'SIDEBAR'
    var(--INTVarColoredChannelIcon)
    var(--INTVarGuildCircles)
    var(--INTVarTwoRowGuilds)
    var(--INTVarWrapperChannel)
    var(--INTVarWrapperGuild)
    var(--INTVarWrapperMember)'\A\A\A'
    'TITLEBAR'
    var(--INTVarCakeOSTitlebar)
    var(--INTVarCustomWordmark)'\A\A\A'
    'WEBKIT'
    var(--INTVarCustomPlaceholder);
    margin: 1.5% -2.3% 0 -2.3%;
    padding: 3%;
    line-height: 1.1;
    color: white;
}